.main-menu {
  height: 90vh;
}

.menu {
  height: 10vh;
  padding: 0 50px;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    90deg,
    #01171f -17.11%,
    rgba(0, 0, 0, 0) 567.91%,
    rgba(0, 0, 0, 0) 567.91%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
}

.container-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.decor {
  padding-bottom: 20px;
}

.main-text h1 {
  text-align: center;
  font-family: Alef;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
}

.sub-text h2 {
  padding-top: 20px;
  padding-bottom: 70px;
  text-align: center;
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #000;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 122.5%; /* 24.5px */
  letter-spacing: -0.4px;
}

/* start blocks */

.main-blocks {
  margin-top: 80px;
}

.block-contact {
  width: 776px;
  height: 168px;
  border-radius: 20px;
  background: linear-gradient(274deg, #04293a 2.98%, #082836 97.47%);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin: 20px 0;
}

.block-contact h1 {
  padding-bottom: 15px;

  text-align: center;

  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: 93%;

  background: radial-gradient(
    107.45% 107.45% at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-contact p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 93%;

  background: radial-gradient(
    107.45% 107.45% at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media screen and (max-width: 900px) {
  .block-contact {
    width: 90%;
  }

  .main-blocks {
    margin-top: 0px;
  }

  .logo-img {
    width: 30%;
    height: 95%;
  }
}
