.main-menu {
  height: 90vh;
}

.menu {
  height: 10vh;
  padding: 0 50px;
  width: 100%;
  height: 100px;
  background: linear-gradient(
    90deg,
    #01171f -17.11%,
    rgba(0, 0, 0, 0) 567.91%,
    rgba(0, 0, 0, 0) 567.91%
  );

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-text h1 {
  text-align: center;
  font-family: Alef;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  padding-bottom: 15px;
}

/* main-block */

.block-con {
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 60%;
  height: 600px;

  background: linear-gradient(274deg, #002130 2.98%, #003a55 97.47%);
}

.block-con h1 {
  text-align: right;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 30px;

  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: 93%; /* 37.2px */
  letter-spacing: 0.8px;

  background: radial-gradient(
    107.45% 107.45% at 50% 50%,
    #fff 0%,
    rgba(255, 255, 255, 0) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.block-not {
  width: 95%;
  height: 43px;
  background: linear-gradient(90deg, #161616 0%, #000 100%);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}

.block-not p {
  font-family: Alef;
font-size: 21.374px;
font-style: normal;
font-weight: 400;
line-height: 93%; /* 19.878px */
letter-spacing: 0.427px;

background: radial-gradient(107.45% 107.45% at 50% 50%, #FFF 0%, rgba(255, 255, 255, 0.00) 100%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;

padding-left: 10px;
display: flex;

align-items: center;
height: 100%;
}

.blue-block {
  width: 95%;
  height: 71px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
 
  border: 2px solid #ffffff33;
background: linear-gradient(90deg, #006593 100%, rgba(4, 4, 4, 0.00) 0%);
}

.blue-block a {
  color: #1AC3E4;
font-family: Alef;
font-size: 35px;
font-style: normal;
font-weight: 400;
line-height: 93%;
letter-spacing: 0.7px;

display: flex;
padding-left: 10px;
align-items: center;
height: 100%;
} 



/* Rectangle 39341 */


@media screen and (max-width: 1200px) {
  .block-con {
    width: 80%;
  }
}

@media screen and (max-width: 900px) {
  .block-con {
    width: 95%;
  }
}

@media screen and (max-width: 750px) {
  .block-not p {
    font-size: 15px;
  }
  .blue-block a {
    font-size: 20px;
  }
}

@media screen and (max-width: 520px)  {
  .block-not p {
    font-size: 12px;
  }
}

@media screen and (max-width: 400px)  {
  .blue-block a {
    font-size: 15px;
  }
  .block-con h1 {
    font-size: 20px;
  }

  .menu {
    padding: 0 20px;
  }
} 