@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

hr {
  background: #ffffff;
}

.burger {
  display: none;
}

.navmenu {
  display: none;
}

body {
  width: 100%;
  font-family: "Montserrat", sans-serif;
  background: #000;
  color: #fff;
}

#container {
  max-width: 1600px;
  padding: 0 10px;
  margin: 0 auto;
}

/* start navbar */

.navbar {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-link + .nav-link {
  padding-left: 30px;
}

.link {
  font-weight: 400;
  font-size: 24px;
  color: #ffffff;
}

.nav-button a {
  padding: 10px 40px;

  background: linear-gradient(
    90deg,
    #a661ff 0.55%,
    #4954ff 55.65%,
    #11c9ff 115.54%
  );

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

/* finish navbar */

.header__main {
  margin-top: 250px;
  display: flex;
  justify-content: space-between;
}

.main__block {
  margin-top: 80px;
}

.main__text {
  width: 754px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;
  color: #ffffff;
}

.main__text span {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  line-height: 78px;

  background: linear-gradient(
    90deg,
    #a661ff 0.55%,
    #4954ff 55.65%,
    #11c9ff 115.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.subtitle__text {
  width: 711px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
  padding-top: 35px;
}

.buttons {
  display: flex;
  padding-top: 40px;
  margin-bottom: 30px;
}

.first-btn a {
  padding: 15px 60px;

  background: linear-gradient(
    90deg,
    #a661ff 0.55%,
    #4954ff 55.65%,
    #11c9ff 115.54%
  );

  margin-right: 30px;

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.second-btn a {
  padding: 15px 60px;

  background: linear-gradient(
    90deg,
    #a661ff 0.55%,
    #4954ff 55.65%,
    #11c9ff 115.54%
  );

  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;

  color: #ffffff;
}

.min-text {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  color: #999191;
}

/* finish header */

/* start section about */

.about {
  width: 100%;
  margin-bottom: 50px;
}

.about__main-text {
  margin-top: 150px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #a661ff;
}

.about__title {
  padding-top: 20px;
  text-align: center;

  font-style: normal;
  font-weight: 600;
  font-size: 64px;
  line-height: 78px;

  color: #ffffff;
}

.about__info {
  padding-top: 30px;
  text-align: center;

  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
}

.about-section {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.about-img {
  margin-right: 150px;
}

.about-info {
}

.text {
  display: flex;
  padding-top: 20px;
}

.img-check {
  margin-right: 10px;
}

/* about finish */

.work {
  margin: 150px 0px;
}

.work-title {
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  color: #a661ff;

  text-align: center;
}

.main-blocks {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
}

.block {
  width: 400px;
  height: 500px;

  background: #000;
  border: 2px solid #fff;
}

.about__text-title {
  padding: 20px 0;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.about__main {
  padding-top: 23px;
  padding-bottom: 30px;

  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  text-align: center;
  color: #ffffff;
}

.about__subtitle {
  padding: 0 20px;

  text-align: center;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.work-img {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

/*  */

.advantages {
  margin-top: 80px;
  margin-bottom: 150px;
}

.advantages__main-text {
  padding-bottom: 120px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;

  color: #a661ff;
}

.advantages-box {
}

.advantages-box h1 {
  padding-bottom: 35px;
  text-align: center;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;

  color: #ffffff;
}

.advantages-box h2 {
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 39px;
  text-align: center;

  color: #ffffff;
}

.first-section {
  display: flex;
  justify-content: space-around;

  margin-bottom: 120px;
}

.second-section {
  display: flex;
  justify-content: space-around;
}

/* start footer */

.footer__main-block {
  margin: 70px 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.footer__logo {
  padding-bottom: 27px;
}

.footer__tilte {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #ffffff;
}

.text-verif {
  padding-top: 80px;
  padding-bottom: 80px;
  text-align: center;

  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;

  color: #ffffff;
}

@media (max-width: 1600px) {
  .header__main {
    margin-top: 90px;
  }
  .block__photo img {
    width: 90%;

    height: 90%;
  }

  .main__text {
    font-size: 40px;
  }

  .subtitle__text {
    font-size: 18px;

    padding-top: 15px;
  }

  .min-text {
    font-size: 15px;
  }
  .about__main-text {
    font-size: 20px;
  }

  .about__title {
    padding-top: 1px;
    font-size: 40px;
  }

  .about__info {
    padding-top: 10px;

    font-size: 23px;
  }

  .block {
    width: 360px;
  }

  .advantages-box h1 {
    padding-bottom: 15px;

    font-size: 30px;
  }

  .advantages-box h2 {
    font-size: 24px;
  }
}

@media (max-width: 1700px) {
  #container {
    max-width: 1400px;
  }

  .block__photo img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 1500px) {
  #container {
    max-width: 1300px;
  }

  .block__photo img {
    width: 100%;
    height: 100%;
  }

  .header__main {
    margin-top: 80px;
  }
}

@media (max-width: 1300px) {
  #container {
    max-width: 1100px;
  }

  .block__photo img {
    width: 100%;
    height: 100%;
  }

  .header__main {
    margin-top: 50px;
  }

  .block {
    width: 330px;
    height: 550px;
  }

  .advantages-box h1 {
    padding-bottom: 20px;
    font-size: 28px;
  }

  .advantages-box h2 {
    font-size: 25px;
  }
}

@media (max-width: 1200px) {
  .nav-list {
    display: none;
  }

  .nav-button {
    display: none;
  }

  .burger {
    display: block;
  }
  .navmenu {
    position: absolute;
    width: 100%;
    height: 95%;
    border: 2px solid yellow;
    content: "";
    right: 0;
    left: 0;
    top: 80px;
    background: #000;
  }

  .nav-block {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    background: #a661ff;
  }

  .nav-link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  .nav-link a {
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 44px;

    color: #ffffff;
  }

  .nav-btn {
    padding-top: 20px;
    display: flex;
    justify-content: center;
  }

  .nav-btn a {
    padding: 10px 40px;

    font-weight: 400;
    font-size: 24px;
    line-height: 29px;

    color: #ffffff;

    background: linear-gradient(
      90deg,
      #a661ff 0.55%,
      #4954ff 55.65%,
      #11c9ff 115.54%
    );
  }

  .block__photo {
    display: none;
  }

  .main__block {
    width: 100%;
} 

.subtitle__text {
 width: 100%;
 text-align: center;
}

  .main__text {
    width: 100%;
    text-align: center;
  }

  .buttons {
    display: flex;
 justify-content: center;
}

.min-text {
  text-align: center;
}
}

@media (max-width: 1200px) {
  .main-blocks {
display: block;

}

.block {
width: 80%;
margin-right: auto;
margin-left: auto;


margin-bottom: 50px;
}

.first-section, .second-section {
  display: block;
}

.left-text h2, .right-text h2 {
  padding-bottom: 25px;
}

.footer__tilte {
  font-size: 15px;
}
#container {
    max-width: 900px;
  }

  .about-info {
   padding-top: 65px;
    display: flex;
    justify-content: center;
  }



  .about-section {
    padding-top: 30px;
    display: block;
    text-align: center;
}

.about-img {
  margin-right: 0;
}

}




@media (max-width: 575px) {
  .first-btn a, .second-btn a {
    padding: 15px 30px;
  }
}


@media (max-width: 450px) {
  .first-btn a, .second-btn a {
    padding: 15px 20px;
  }
}

@media (max-width: 380px) {
  .second-btn {
    display: none;
  }
}