* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/headerbackfon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  padding: 25px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin-left: 40px;
}

.menu__list-link {
  padding: 4px 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  transition: border-bottom 0.3s ease-in-out;
}

.menu__list-link:hover {
  border-bottom: 3px solid #e4e182;
}

.header__btn {
  padding: 13px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ce0927;
  border-radius: 5px;
}

.header__btn:hover {
  background-color: #f8072b;
}

.exchange__item {
  display: flex;
  justify-content: center;
}

.main__block {
  width: 858px;
  height: 419px;
  background: #262c31;
  border: 3px solid #ce0927;
  border-radius: 20px;
  padding: 25px 40px;
}

h1.title {
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  color: #ffffff;
  text-align: center;
}

hr {
  width: 100%;
  border: 1px solid #ce0927;
}

h3.subtitle {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  text-align: left;
  padding-top: 10px;
}

.block__exchange {
  display: flex;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 25px;
}

.title__block {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}

.crypto__name {
  padding-left: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

.left__menu,
.right__menu {
  display: block;
}

.main__input {
  display: flex;
}

.main__input input {
  margin-right: 15px;
  border: none;
  background: #262c31;
  border: 1px solid #ce0927;
  border-radius: 5px;
  outline: none;
  color: #fff;
  padding-left: 7px;
}



.val {
  width: 150px;
  height: 30px;

  border: 1px solid #ce0927;
  border-radius: 5px;
}

.name__val {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  padding-bottom: 7px;
  color: #ffffff;
}

.button {
  display: flex;
  justify-content: center;
  padding-top: 50px;
}

.button a {
  padding: 20px 60px;
  background: #ce0927;
  border-radius: 5px;
}
