/* -------------------------------------------------------
                   contact
-------------------------------------------------------- */
.contact-p {
    position: relative;

    &.section-padding {
        padding-top: 150px !important;
        padding-bottom: 150px !important;
    }

    .contact-info {
        position: relative;
        padding: 0 30px;

        .title-box {
            position: relative;
            padding-bottom: 30px;
            margin-bottom: 30px;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                bottom: 0;
                background-color: #474748;
                height: 3px;
                width: 70px;
                z-index: 1;
            }

            h3 {
                position: relative;
                display: inline-block;
                color: #fff;
                font-size: 32px;
                letter-spacing: 2px;
                background-color: #1b1b1b;
                z-index: 2;
                padding-right: 15%;
            }

            .lineStagger {
                height: 2px;
                position: absolute;
                top: 50%;
                margin-top: -15px;
                background-color: $theme-color;
                width: 100%;
            }
        }

        .desc {
            position: relative;

            ul {
                li {
                    font-weight: 600;
                    margin-bottom: 15px;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        .info-inf {
            .in-box {
                position: relative;
                margin-top: 30px;
    
                h4 {
                    color: $theme-color;
                    font-size: 16px;
                    font-weight: 400;
                    margin-bottom: 10px;
                }
            }
        }
        
        .mail-dtls {
            position: relative;
            margin-top: 30px;

            span {
                font-weight: 600;
                color: #fff;
            }

            .maill , .dsn {
                margin-left: 30px;
                font-weight: 600;
            }

            a {
                &:hover {
                    color: $theme-color;
                }
            }
        }
    }

    .form-box {
        position: relative;
        padding: 0 30px;

        .help-block {
            color: red;
            margin-top: 15px;
            font-weight: bold;
        }

        .input__wrap {
            position: relative;

            .form-group {
                position: relative;
                margin-bottom: 30px;

                label {
                    display: block;
                    font-size: 18px;
                    font-weight: 600;
                    margin-bottom: 15px;
                }

                input , textarea {
                    width: 100%;
                    padding: 12px;
                    font-weight: 600;
                    background-color: $dark-color;
                    color: #fff;
                    border: none;
                }

                textarea {
                    height: 180px;
                    max-height: 180px;
                }
            }
        }
    }
}