/* -------------------------------------------------------
                   Project
-------------------------------------------------------- */
.intro {
    position: relative;
    overflow: hidden;

    .info-title {
        position: relative;

        h1 {
            font-size: 40px;
            font-weight: 300;
            line-height: 52px;
            letter-spacing: 2px;
            color: #fff;
        }
    }

    .intro-description {
        position: relative;

        h5 {
            font-size: 18px;
            font-weight: 400;
            font-family: $secondary-font;
            color: #fff;
            margin-bottom: 30px;
        }

        ul {
            margin-top: 30px;

            li {
                position: relative;
                display: inline-block;
                padding-right: 50px;

                span {
                    display: block;
                    color: #fff;
                }

                .title-cat {
                    font-family: $secondary-font;
                    font-size: 14px;
                    font-weight: 600;
                    letter-spacing: 1px;
                    margin-bottom: 10px;
                }

                .info {
                    font-family: $body-font;
                    font-size: 14px;
                    font-weight: 400;
                    opacity: .8;
                }

            }
        }
    }
}

a.single-image {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.content-block {
    position: relative;

    .dsn-image {
        position: relative;
    }

    .box-im {
        height: 100%;
    }

    .dsn-video {
        position: relative;

             
        .play-button {
            width: 80px;
            height: 80px;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-65%, -50%);
            cursor: none;
            z-index: 5;
        }

        .play-btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            //cursor: pointer;
            z-index: 4;

            i {
                color: #fff;
                font-size: 40px;
            }
        }

        .play-circles {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.box-desc {

    h3 {
        color: #fff;
        font-size: 24px;
        line-height: 1.5;
        letter-spacing: 2px;
    }

    p {
        max-width: 698px;
        margin: auto;
    }
}

.proj-container {
    position: relative;
    padding-top: 50px;

    .box-im {
        position: relative;
        padding-left: 15%;
        padding-right: 15%;

        &:last-child {
            margin-top: 100px;
        }

        .image-zoom {
            width: 85%;
            display: inline-block;
            position: relative;
            overflow: hidden;
            vertical-align: bottom;

            img {
                max-width: 100%;
                -webkit-transition: all 750ms ease-in-out;
                transition: all 750ms ease-in-out;
            }
        }

        .caption {
            margin: 0px;
            vertical-align: top;
            right: calc(15% - -31px);
            bottom: 0px;
            padding-top: 10px;
            display: inline-block;
            -webkit-writing-mode: vertical-lr;
            -ms-writing-mode: tb-lr;
            writing-mode: vertical-lr;
            -webkit-transform: rotate(-180deg);
            transform: rotate(-180deg);
            font-family: $secondary-font;
            color: #fff;
            letter-spacing: 2px;
            font-size: 12px;
            position: absolute;
        }
    }
}

.p-img {
    
    .col-lg-6 {
        &:nth-child(even) {
            margin-top: 100px;
        }
    }
}

.proj-slider {
    position: relative;

    .item-project {
        position: relative;

        img {
            width: 100%;
            padding-left: 10%;
        }
    }

    .slick-list{padding:0 20% 0 0;}
}

.dsn-quote {
    position: relative;
    overflow: hidden;

    .quote-content {
        position: relative;
        text-align: center;

        .icon--quote {
            width: 55px;
            height: 55px;
            display: inline-block;
            vertical-align: middle;

            .ring {
                fill:#5f6063;
            }
            .marks {
                fill:#fff;
            }
	
        }

        p {
            color: #fff;
            font-size: 24px;
            line-height: 32px;
            margin: 30px 0 30px;
        }

        h5 {
            color: #fff;
            font-family: $secondary-font;
            font-weight: 400;
        }
    }
}

.project-next-box {
    position: relative;
    overflow: hidden;
    border-top: 1px solid rgba(204, 204, 204, 0.05);

    .next-project {
        text-align: center;

        h4 {
            font-size: 28px;
            color: #fff;
            font-family: $secondary-font;
        }

        a {
            transition: all 500ms cubic-bezier(0.4, 0.8, 0.74, 1);

            .project-next-bg {
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                opacity: .05;
                transition: opacity 1.5s cubic-bezier(0.4, 0.8, 0.74, 1) , clip-path 1s cubic-bezier(0.4, 0.8, 0.74, 1);
                -webkit-clip-path: circle(33.2% at 50% 50%);
                clip-path: circle(33.2% at 50% 50%);
            }

            .next-title {
                position: relative;
                font-size: 5vw;
                line-height: 1.3em;
                display: inline-block;
                color: #fff;
                font-family: $secondary-font;
                font-weight: 400;
                transition: color .8s cubic-bezier(0.4, 0.8, 0.74, 1);

                &:hover {
                    z-index: 33;
                }
            }

            &:hover {
                .project-next-bg {
                    opacity: .3;
                    -webkit-clip-path: circle(47.6% at 50% 50%);
                    clip-path: circle(47.6% at 50% 50%);
                }

                .next-title {
                    z-index: 1;
                    color: #000;
                }
            }
        }
    }
}

.content__title {
    animation-name: glitch-anim-text;
    animation-duration: var(--time-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-delay: calc(var(--delay-anim) + var(--time-anim) * 0.2);
}

.dsn-grid-color {
    --color-text: #aaa;
    --color-bg: #000;
    --color-link: #1c1cc9;
    --color-link-hover: #aaa;
    --color-info: #1c1cc9;
    --glitch-width: 100vw;
    --glitch-height: 100vh;
    --gap-horizontal: 10px;
    --gap-vertical: 5px;
    --color-title: #fff;
    --time-anim: 4s;
    --delay-anim: 2s;
    --blend-mode-1: none;
    --blend-mode-2: none;
    --blend-mode-3: none;
    --blend-mode-4: overlay;
    --blend-mode-5: overlay;
    --blend-color-1: transparent;
    --blend-color-2: transparent;
    --blend-color-3: transparent;
    --blend-color-4: #fb909a;
    --blend-color-5: #1c1cc9;
}

/* Glitch styles */
.glitch {
    position: absolute;
    top: 0;
    left: 0;
    width: var(--glitch-width);
    height: var(--glitch-height);
    overflow: hidden;
}

.glitch__img {
    position: absolute;
    top: calc(-1 * var(--gap-vertical));
    left: calc(-1 * var(--gap-horizontal));
    width: calc(100% + var(--gap-horizontal) * 2);
    height: calc(100% + var(--gap-vertical) * 2);
    background-color: var(--blend-color-1);
    transform: translate3d(0, 0, 0);
    background-blend-mode: var(--blend-mode-1);
}

.glitch__img:nth-child(n+2) {
    opacity: 0;
}

.imgloaded .glitch__img:nth-child(n+2) {
    animation-duration: var(--time-anim);
    animation-delay: var(--delay-anim);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.imgloaded .glitch__img:nth-child(2) {
    background-color: var(--blend-color-2);
    background-blend-mode: var(--blend-mode-2);
    animation-name: glitch-anim-1;
}

.imgloaded .glitch__img:nth-child(3) {
    background-color: var(--blend-color-3);
    background-blend-mode: var(--blend-mode-3);
    animation-name: glitch-anim-2;
}

.imgloaded .glitch__img:nth-child(4) {
    background-color: var(--blend-color-4);
    background-blend-mode: var(--blend-mode-4);
    animation-name: glitch-anim-3;
}

.imgloaded .glitch__img:nth-child(5) {
    background-color: var(--blend-color-5);
    background-blend-mode: var(--blend-mode-5);
    animation-name: glitch-anim-flash;
}

/* Animations */

@keyframes glitch-anim-1 {
    0% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
        -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
        clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
    }

    2% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
        clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
    }

    4% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
        clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
    }

    6% {
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
        clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
    }

    8% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    10% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    12% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    14% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    16% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    18% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(var(--gap-horizontal), 0, 0);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-2 {
    0% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
        -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
        clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
    }

    3% {
        -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
        clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
    }

    5% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
        clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
    }

    7% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    9% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
        clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
    }

    11% {
        -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
        clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
    }

    13% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    15% {
        -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
        clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
    }

    17% {
        -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
        clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
    }

    19% {
        -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
        clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
    }

    20% {
        -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
        clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-3 {
    0% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
        clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
    }

    1.5% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
        clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
    }

    2% {
        -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
        clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
    }

    2.5% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
        clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
    }

    3% {
        -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
        clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
    }

    5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
        clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
    }

    5.5% {
        -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
        clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
    }

    7% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
        clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
    }

    8% {
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    9% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
        clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
    }

    10.5% {
        -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
        clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
    }

    11% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
        clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
    }

    13% {
        -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
        clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
    }

    14% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
        clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
    }

    14.5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
        clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
    }

    15% {
        -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
        clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
    }

    16% {
        -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
        clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
    }

    18% {
        -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
        clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
    }

    20% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
        clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
    }

    21.9% {
        opacity: 1;
        transform: translate3d(0, calc(-1 * var(--gap-vertical)), 0) scale3d(-1, -1, 1);
    }

    22%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
        -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
        clip-path: polygon(0 0, 0 0, 0 0, 0 0);
    }
}

@keyframes glitch-anim-text {
    0% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
        -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
        clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
    }

    2% {
        -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
        clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
    }

    4% {
        -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
        clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
    }

    5% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
        clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
    }

    6% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
        clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
    }

    7% {
        -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
        clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
    }

    8% {
        -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
        clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
    }

    9% {
        -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
        clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
    }

    9.9% {
        transform: translate3d(calc(-1 * var(--gap-horizontal)), 0, 0) scale3d(-1, -1, 1);
    }

    10%,
    100% {
        transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

/* Flash */
@keyframes glitch-anim-flash {

    0%,
    5% {
        opacity: 0.2;
        transform: translate3d(var(--gap-horizontal), var(--gap-vertical), 0);
    }

    5.5%,
    100% {
        opacity: 0;
        transform: translate3d(0, 0, 0);
    }
}
/*-----------------------------------------------------------
    All Project Page
-------------------------------------------------------------*/
.proj-full {
    position: relative;

    .content {
        position: relative;
        text-align: center;

        .block__link {
            border-bottom: 1px solid #171718;
            margin-bottom: 60px;
            padding-bottom: 60px;
            position: relative;
            display: inline-block;
            text-transform: uppercase;
            color: #fff;
            -webkit-transition: color .25s ease;
            -moz-transition: color .25s ease;
            transition: color .25s ease;
            line-height: 1;

            &:last-child {
                margin-bottom: 0;
            }

            span.num {
                overflow: hidden;
                opacity: .7;
                color: #fff;
                font-family: $body-font;
                background-color: $dark-color;
                padding: 8px;
                display: block;
                margin-bottom: 20px;
                font-weight: 400;
                letter-spacing: 2px;
                font-size: 12px;
            }

            h2 {
                max-width: 480px;
                color: #fff;
                -webkit-transform-origin: 0 50%;
                transform-origin: 0 50%;
                font-size: 5vw;
                font-weight: 700;
                letter-spacing: 1px;
                margin-bottom: 20px;
                animation: shine 1s infinite;
                
                &:hover {
                    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
                    -webkit-mask-size: 200%;
                    animation: shine 1s infinite;
                    color: inherit;
                }
            }
        }
    }

    .hover-reveal {
        position: fixed;
        width: 40vw;
        height: 40vh;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
    }
    
    .hover-reveal__inner,
    .hover-reveal__img {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .hover-reveal__deco {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #181314;
    }
    
    .hover-reveal__img {
        background-size: cover;
        background-position: 50% 50%;
    }

    .button-loadmore {
        position: relative;
        clear: both;
        display: block;
        width: 190px;
        height: 60px;
        padding: 0 35px;
        line-height: 63px;
        text-align: center;
        cursor: pointer;
        border: none;
        overflow: hidden;
        margin: 0 auto;
        color: #BDC1C0;
        background-color: $dark-color;
        font-size: 14px;
        font-weight: 400;
        transition: all 0.3s ease-in-out;
        animation: shine 1s infinite;

        &:hover {
            -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
            -webkit-mask-size: 200%;
            animation: shine 1s infinite;
            color: #fff;
        }
    }
}

@keyframes loop {
	0% { transform-origin: 0% 50%; transform: scale3d(0,1,1); }
	50% { transform-origin: 0% 50%; transform: scale3d(1,1,1); }
	51% { transform-origin: 100% 50%; }
	100% { transform-origin: 100% 50%; transform: scale3d(0,1,1); }
}