.wrapper {
    transition: .4s;
}

.wrapper header {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    transition: .2s;
}

.wrapper header.to-top {
    position: fixed;
    top: 0;
}

.wrapper header.to-top+section {
    margin-top: 58px;
}

.header__top--banner.show__block {
    display: flex !important;
}

header.to-top .header__wrap {
    min-height: 65px;
    z-index: 99999;
}

header.to-top .header__second--row {
    min-height: 105px;
}

header.to-top .header__second--row:hover {
    z-index: 99999;
}

header .header__top--banner,
header .header__top--banner--catalog {
    top: 57px !important;
    overflow: hidden !important;
    padding-top: 12px;
    padding-bottom: 12px;
}

header.to-top .header__wrap.header-main-wrapper {
    min-height: 58px;
    align-items: center;
    height: 58px;
}

header.to-top .header-main-icons-wrapper,
header.to-top .header-main-right-item-left .btn-wrapper,
header.to-top .header--logo {
    display: none;
}

header.to-top .header-main-right {
    align-items: center;
}

header.to-top .header-main-working {
    margin-bottom: 0;
}

.header__top--banner--catalog .left .h4__title,
.header__top--banner .left .h4__title {
    font-size: 20px;
    position: relative;
}

.header__top--banner--catalog .right .banner__top--button,
.header__top--banner--catalog .right .banner__top--button--catalog,
.header__top--banner .right .banner__top--button,
.header__top--banner .right .banner__top--button--catalog {
    padding: 10px 0;
    font-size: 14px;
    width: 158px;
}

header .mobile__logo--search .tablet__logotype {
    max-height: 40px;
    width: auto;
}

.page-template-order-status .header-main-right-item-left {
    margin-bottom: 0;
    align-self: center;
    justify-content: center;
}

@media (min-width: 1124px) {

    .header__top--banner--catalog .right .banner__top--button,
    .header__top--banner--catalog .right .banner__top--button--catalog,
    .header__top--banner .right .banner__top--button,
    .header__top--banner .right .banner__top--button--catalog {
        white-space: nowrap;
        width: fit-content;
        padding: 10px 30px;
    }
}

.header__top--banner--catalog .left img,
.header__top--banner .left img {
    top: 50%;
    transform: translateY(-45%);
    max-height: 65px;
}

.page-template-green-page-template .header__top--banner .left img {
    transform: translateY(-50%);
}

.single-cities .header__top--banner.show__block {
    overflow: hidden !important;
}

.mobile-show {
    display: none !important;
}

.btn-default-yellow {
    color: #333;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    padding: 9.5px 25px;
    border-radius: 100px;
    background: #FFD71C;
}

.workshop-cnt {
    position: relative;
}

.workshop-item-btn-wrapper {
    position: absolute;
    left: 50%;
    top: calc(100% + 44px);
    transform: translateX(-50%);
}

header:not(.to-top) .header__top--banner,
header:not(.to-top) .header__top--banner--catalog {
    display: none !important;
}

@media(min-width: 991px) {
    .header-main-right-item-right {
        min-width: 102px;
    }

    .header__top--banner--catalog .close__banner--top,
    .header__top--banner .close__banner--top {
        right: 1%;
    }
}

@media(min-width: 1300px) {

    .header__top--banner--catalog .close__banner--top,
    .header__top--banner .close__banner--top {
        right: calc((100% - 1320px) / 2);
    }
}

@media(max-width: 1050px) {
    .wrapper header.to-top {
        top: 0;
    }

    header.to-top .header__top--banner,
    header.to-top .header__top--banner--catalog {
        top: 51px;
        overflow: hidden;
    }
}

@media(max-width: 379px) {

    .header__top--banner--catalog .left .h4__title,
    .header__top--banner .left .h4__title {
        font-size: 14px;
    }
}

/* New Header */
.site-header {
    background: #FFFFFF;
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.20);
    position: relative;
    z-index: 11;
}

header .header__wrap.header-main-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1320px;
    height: 110px;
    width: 100%;
    margin: 0 auto;
    float: unset;
    padding: unset;
}

.header-main-left {
    height: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
}

.header-main-right {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    height: 100%;
}

.header--logo {
    height: 44px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 13px;
}

.header--logo>a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100%;
}

.header--logo>img,
.header--logo>a>img {
    width: auto;
    height: 100%;
}

header nav.header--nav>ul>li>a {
    color: #333333;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
}

header.to-top nav.header--nav>ul>li>a {
    font-size: 16px;
}

header nav.header--nav>ul>li.menu-item-has-children {
    padding-right: 10px;
}

header nav.header--nav>ul>li.menu-item-has-children:after {
    background: url(../images/arrow-down-new.svg);
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 8px;
    height: 5px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

header nav.header--nav>ul>li:first-child:after {
    background: transparent url(../images/arrow-down-new.svg) 50% no-repeat;
    right: 27px;
    top: 50%;
    transform: translateY(-50%);
    width: 11px;
    height: 7px;
    transition: .3s;
}

header nav.header--nav>ul>li:first-child>a {
    font-weight: 500;
}

header nav.header--nav>ul>li {
    margin-right: 0;
    padding-top: 10px;
    padding-bottom: 10px;
}

header nav.header--nav>ul>li+li {
    margin-left: 20px;
}

header nav.header--nav>ul>li:first-child {
    padding: 10px 42px 10px 27px;
    border-radius: 100px;
    border: 2px solid #FFD71C;
    transition: .3s;
}

header nav.header--nav>ul>li:first-child:hover {
    background: #FFD71C;
}

header nav.header--nav>ul>li:first-child:hover:after {
    transform: translateY(-50%) rotate(180deg);
}

.header-main-right-item-left {
    align-self: flex-end;
    margin-right: 79px;
    margin-bottom: 11px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.header-main-phones {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin: 0 0 4px;
}

.header-main-phones>a {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header-main-phones>a>svg {
    margin-left: 5px;
}

.header-main-right-item-contact {
    position: relative;
}

.header-main-hidden-phones {
    position: absolute;
    top: 100%;
    left: 0;
    background: #FFFFFF;
    width: 100%;
    min-width: 220px;
    height: auto;
    padding: 16px 19px;
    box-shadow: 0px 17px 51px 14px rgba(0, 0, 0, 0.22);
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
}

.header-main-right-item-contact:hover .header-main-hidden-phones {
    opacity: 1;
    visibility: visible;
    transition: .3s;
}

.header-main-hidden-phones>a {
    white-space: nowrap;
    color: #333;
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 16px;
    /* 88.889% */
    display: flex;
    align-items: center;
    justify-content: flex-start;
    transition: .3s;
}

.header-main-hidden-phones>a+a {
    margin-top: 14px;
}

.header-main-hidden-phones>a>svg {
    margin-right: 6px;
}

.header-main-hidden-phones>p.top {
    color: #678495;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-bottom: 14px;
    margin-bottom: 13px;
    border-bottom: 1px solid rgba(103, 132, 149, .5);
}

.header-main-hidden-phones>p.top>strong,
.header-main-hidden-phones>p.top>b {
    font-weight: 500;
}

.header-main-working {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgba(0, 0, 0, 0.80);
    ;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    margin-bottom: 10px;
}

.header-main-working-icon {
    width: 13px;
    height: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 2px;
}

.btn-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.btn-default-yellow {
    border-radius: 100px;
    background: #FFD71C;
    color: #000;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    text-transform: uppercase;
    padding: 9px 21px;
}

.header-main-icons-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    margin: 0 0 4px;
}

.header-main-icons-wrapper>img+img {
    margin-left: 10px;
}

.header-main-language>ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.header-main-language>ul>li:not(.active)>a {
    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    text-transform: uppercase;
}

.header-main-language>ul>li:not(.active)>a:before {
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    width: 100%;
    height: 1px;
    background: #333;
}

.header-main-language>ul>li.active {
    width: 29px;
    height: 29px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FFD71C;
    color: #333;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.header-main-language>ul>li+li {
    margin-left: 10px;
}

header nav.header--nav>ul>li.menu-item-has-children>.sub-menu {
    top: 100%;
    /*margin-top: 8px;*/
    left: 0;
    box-shadow: unset;
    filter: drop-shadow(0px 0px 40px rgba(0, 0, 0, 0.25));
}

header nav ul li.large-sub-menus>.sub-menu li.cities-menu {
    position: unset;
}

header nav ul li.large-sub-menus>.sub-menu .cities-menu.active .sub-menu {
    display: block;
}

header nav ul li.large-sub-menus>.sub-menu .cities-menu .sub-menu {
    min-width: fit-content;
    right: 0;
    top: 0;
    margin: 0;
    /*column-count: 2;*/
    padding: 20px 18px 20px 36px;
    background: transparent;
    box-shadow: none;
}

header nav ul li.large-sub-menus>.sub-menu .cities-menu .sub-menu>li>a {
    white-space: nowrap;
    position: relative;
    padding-left: 13px;
    color: #959595;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: .3s;
}

header nav ul li.large-sub-menus>.sub-menu .cities-menu .sub-menu>li>a:hover {
    color: #FAD74E;
}

header nav ul li.large-sub-menus>.sub-menu .cities-menu .sub-menu>li>a:before {
    position: absolute;
    content: '';
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/pin-menu.svg');
    width: 10px;
    height: 13px;
}

header nav ul li.menu-item-has-children.menu_icon_1 .sub-menu {
    padding-right: 0;
}

header nav ul li.menu-item-has-children.menu_icon_1>li {
    padding-right: 10px;
}

header nav.header--nav ul li.large-sub-menus>.sub-menu>li {
    width: 235px;
}

header nav ul li.large-sub-menus>.sub-menu>li.active>.sub-menu {
    width: calc(100% - 235px);
}

header nav ul li.menu-item-has-children.cities-menu .sub-menu li {
    padding: 6px 0;
    margin: 0;
}

.header__top--banner,
.header__top--banner--catalog {
    padding-right: calc((100% - 1320px) / 2);
    padding-left: calc((100% - 1320px) / 2);
}

.header__top--banner:before,
.header__top--banner--catalog:before {
    position: absolute;
    content: '';
    left: 50%;
    top: 0;
    width: 100vw;
    transform: translateX(-50%);
    background: inherit;
}

.cr-bottom-item-wrap {
    transform: translateY(100px);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    transition-delay: .5s;
}

.cr-bottom-item-wrap:nth-child(2) {
    transition-delay: 1s;
}

.cr-bottom-item-wrap:nth-child(3) {
    transition-delay: 1.5s;
}

.cr-bottom-item-wrap:nth-child(4) {
    transition-delay: 2s;
}

.cr.sctn.inview .cr-bottom-item-wrap {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.cr-bottom-item {
    padding-right: 0;
}

.equipment__block .equipment__wrap .equipment__description .top {
    display: none;
}

.ninth__block .form__wrap {
    height: auto;
    max-height: 510px;
}

.header-main-status-phones>a+a {
    margin-top: 8px;
}

.header-main-status-phones>a:first-child {
    color: #FFD71C;
}

.header-main-status-phones {
    margin-bottom: 8px;
}

@media(min-width: 990px) {
    .cr-bottom-item>p {
        right: -60px;
    }

    section.equipment__block {
        position: relative;
    }

    section.equipment__block .equipment__wrap-title {
        position: absolute;
        left: 50%;
        top: -100px;
        transform: translateX(-50%);
        color: #333;
        text-align: center;
        font-size: 30px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
    }

    section.equipment__block .equipment__wrap-title:before {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -27px;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background: #FFD71C;
    }

    section.equipment__block {
        margin-top: 150px;
    }

    .page-template-tnvd-repair section.equipment__block {
        margin-top: 150px;
    }
}

@media(max-width: 1200px) {
    .site-header .container {
        width: 90%;
    }

    .banner-description {
        max-width: 90%;
    }
}

@media(max-width: 990px) {
    .header__top--banner .left:before {
        left: 100px;
        top: -160px;
    }

    .header__top--banner.show__block {
        flex-direction: row;
    }

    .cr-bottom-item-wrap:nth-child(even),
    .cr-bottom-item-wrap {
        justify-content: center;
    }

    .cr-bottom-item .h3,
    .cr-bottom-item h3 {
        font-size: 100px;
        line-height: 1;
    }

    header .header__phones {
        z-index: 99999 !important;
    }

    header .header__phones .desktop__phones--inner {
        padding: 0;
    }

    .desktop__phones--inner .header-main-hidden-phones {
        opacity: 1;
        visibility: visible;
        position: relative;
    }

    header .header__phones .desktop__phones--inner p.top {
        display: block;
    }

    .header__top--banner,
    .header__top--banner--catalog {
        justify-content: flex-start;
    }

    .header__top--banner--catalog .right .banner__top--button,
    .header__top--banner--catalog .right .banner__top--button--catalog,
    .header__top--banner .right .banner__top--button,
    .header__top--banner .right .banner__top--button--catalog {
        padding: 12px 10px;
        width: auto;
    }

    header.to-top .header__top--banner,
    header.to-top .header__top--banner--catalog {
        top: 50px !important;
    }

    .header__top--banner--catalog .left,
    .header__top--banner .left {
        width: 50%;
    }

    header .header__wrap.header-main-wrapper {
        display: none;
    }

    .site-header {
        height: 50px;
        padding: 8px 0 7px;
    }

    header .left__header .header-tablet-icon {
        width: 35px;
        height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background: #FFD71C;
        margin: 0;
    }

    header .left__header .header-tablet-icon+.header-tablet-icon {
        margin-left: 14px;
    }

    .mobile__logo--search>a {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 35px;
    }

    .mobile__logo--search>a>img {
        height: 100%;
        width: auto;
    }

    header .mobile__menu:before {
        display: none;
    }

    header .mobile__menu {
        top: 50px;
        height: calc(100% - 50px);
        padding: 0;
        z-index: 99999;
    }

    .mobile__menu-top-wrapper {
        background: #202024;
        padding: 3px 14px 4px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .mobile__menu-icons-wrapper {
        height: 28px;
        display: flex;
    }

    .mobile__menu-icons-wrapper>img {
        width: auto;
        height: 100%;
    }

    header .mobile__menu .language {
        padding: unset;
        margin-right: unset;
    }

    header .mobile__menu .language>ul {
        list-style: none;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    header .mobile__menu .language>ul>li:not(.active)>a {
        color: #FFF !important;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        position: relative;
        text-transform: uppercase;
    }

    header .mobile__menu .language>ul>li:not(.active)>a:before {
        position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        width: 100%;
        height: 1px;
        background: #FFF;
    }

    header .mobile__menu .language>ul>li.active {
        width: 29px;
        height: 29px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #FFD71C;
        color: #FFF;
        text-align: center;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
    }

    header .mobile__menu .language ul li:first-child {
        margin-right: unset;
    }

    header .mobile__menu .language>ul>li+li {
        margin-left: 10px;
    }

    header .mobile__menu nav ul li.menu-item-has-children:after {
        transition: .3s;
    }

    header .mobile__menu nav ul li.menu-item-has-children.hovered:after {
        transform: rotate(90deg);
    }

    .bnr+.bnr-texts {
        padding: 0;
    }

    section.equipment__block {
        position: relative;
    }

    section.equipment__block .equipment__wrap-title {
        display: block;
        position: absolute;
        left: 50%;
        transform: translate(-50%, -174%);
        color: #333;
        text-align: center;
        font-size: 22px;
        font-style: normal;
        font-weight: 700;
        line-height: 36px;
        width: 90%;
    }

    section.equipment__block .equipment__wrap-title:before {
        position: absolute;
        content: '';
        left: 50%;
        bottom: -27px;
        transform: translateX(-50%);
        width: 50px;
        height: 3px;
        background: #FFD71C;
    }

    section.equipment__block {
        margin-top: 150px;
    }

    .page-template-tnvd-repair section.equipment__block {
        margin-top: 100px;
    }
}

@media(max-width: 600px) {
    .page-template-catalog .header__top--banner .left {
        width: 40%;
    }

    .page-template-catalog .header__top--banner .right .banner__top--button {
        white-space: nowrap;
    }

    .block__title {
        padding: 0 15px;
    }

    .equipment__block .equipment__wrap .equipment__slider {
        height: 700px !important;
    }

    .header__top--banner--catalog .left:before,
    .header__top--banner .left:before {
        width: 100px;
        top: -150px;
        left: 70px;
    }

    .header__top--banner--catalog .close__banner--top,
    .header__top--banner .close__banner--top {
        top: 15px;
    }

    .header__top--banner--catalog .left,
    .header__top--banner .left {
        margin-bottom: 0;
    }

    .mobile-show {
        display: block !important;
    }

    .mobile-hide {
        display: none !important;
    }

    .workshop-cnt {
        margin-bottom: 31px;
    }

    .header__top--banner {
        padding: 7px 30px 7px 10px;
        flex-direction: row;
        align-items: center;
    }

    .header__top--banner--catalog .close__banner--top,
    .header__top--banner .close__banner--top {
        right: 17px;
    }

    .header__top--banner--catalog .left .h4__title,
    .header__top--banner .left .h4__title {
        font-size: 14px;
        text-align: center;
        padding-left: 5px;
    }

    .cr-bottom-item .h3,
    .cr-bottom-item h3 {
        font-size: 60px;
    }

    .header__top--banner--catalog .close__banner--top,
    .header__top--banner .close__banner--top {
        width: 13px;
        height: 13px;
    }

    .header__top--banner--catalog .right .banner__top--button,
    .header__top--banner--catalog .right .banner__top--button--catalog,
    .header__top--banner .right .banner__top--button,
    .header__top--banner .right .banner__top--button--catalog {
        font-size: 12px;
        padding: 10px 12px;
        width: -moz-fit-content;
        width: fit-content;
    }

    .header__top--banner--catalog .right,
    .header__top--banner .right {
        width: 25%;
    }

    .header__top--banner--catalog .left,
    .header__top--banner .left {
        width: 65%;
    }

    .header__top--banner--catalog .close__banner--top,
    .header__top--banner .close__banner--top {
        top: 50%;
        transform: translateY(-50%);
    }
}

header nav.header--nav>ul>li.promo-menu-item>a {
    padding-right: 20px;
    position: relative;
}

header nav.header--nav>ul>li.promo-menu-item>a:before {
    position: absolute;
    content: '';
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background: url('../images/tabler-icon-gift.svg');
    width: 16px;
    height: 17px;
}

@media(max-width: 850px) {
    header .mobile__menu nav ul li:before {
        background: unset !important;
        width: 32px;
        height: 32px;
        left: 12px;
        top: 4px;
    }

    header .mobile__menu nav ul li.icon-turbin:before {
        background-image: url('../images/icon_1.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-tnvd:before {
        background-image: url('../images/icon_2.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-forsunok:before {
        background-image: url('../images/icon_3.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-dpf:before {
        background-image: url('../images/icon_4.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-engine:before {
        background-image: url('../images/icon_5.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-mahovika:before {
        background-image: url('../images/icon_6.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-steering-rack:before {
        background-image: url('../images/icon_7.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-catalyst:before {
        background-image: url('../images/icon_8.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-pnevma:before {
        background-image: url('../images/icon_10.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-condition:before {
        background-image: url('../images/icon_9.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-grm:before {
        background-image: url('../images/Remen-GRM.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-kardan:before {
        background-image: url('../images/icon_11.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-maintenance:before {
        background-image: url('../images/icon_12.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-vacancies:before {
        background-image: url('../images/icon_vacancies.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-about-us:before {
        background-image: url('../images/icon_about.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-promo:before {
        background-image: url('../images/icon_promos.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav ul li.icon-contacts:before {
        background-image: url('../images/icon_contact.svg') !important;
        background-repeat: no-repeat !important;
        background-position: center !important;
        background-size: cover !important;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children:after {
        position: absolute;
        right: 21px;
        transform: translateY(-50%);
        width: 14px;
        height: 16px;
        top: 20px;
        background: url('../images/arrow.svg');
    }

    header .mobile__menu nav>ul>li.menu-item-has-children.hovered:after {
        transform: translateY(-50%) rotate(-90deg);
        top: 20px;
    }

    header .mobile__menu nav>ul>li {
        border: none;
        border-top: 1px solid #BAC3C9;
        padding: 10.5px 50px 10.5px 57px;
    }

    header .mobile__menu nav>ul>li:last-child {
        border-bottom: 1px solid #BAC3C9;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children.hovered+li {
        border-top: 1px solid #BAC3C9;
    }

    header .mobile__menu nav>ul>li>a {
        padding: 0;
        color: #333;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        border-bottom: 1px solid #BAC3C9;
        border: none;
        width: -moz-fit-content;
        width: fit-content;
        position: relative;
        background-color: transparent !important;
    }

    header .mobile__menu nav>ul>li>ul {
        margin-top: 20px;
    }

    /*header .mobile__menu nav > ul > li > a:before {
        position: absolute;
        content: '';
        bottom: 0;
        left: 0;
        width: 100vw;
        height: 1px;
        background: #BAC3C9;
    }*/
    header .mobile__menu nav>ul>li.hovered>a {
        color: #333 !important;
        font-weight: 500;
        background-color: transparent !important;
    }

    header .mobile__menu {
        overflow: hidden;
    }

    header .mobile__menu nav {
        overflow-y: auto;
        max-height: calc(100% - 40px);
    }

    header .mobile__menu nav li.menu-item-has-children .sub-menu li>a:hover {
        background: #BAC3C9 !important;
        color: #222 !important;
        font-weight: 500 !important;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu {
        width: 100vw;
        margin: 10px -57px 0;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li {
        background: transparent !important;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li>a {
        padding: 11px 33px;
        color: #8395A1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li.menu-item-has-children:after {
        position: absolute;
        right: 11px;
        transform: translateY(-50%) rotate(90deg);
        width: 16px;
        height: 14px;
        top: 20px;
        background: url('../images/arrow-grey.svg');
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li.menu-item-has-children.hovered:after {
        transform: translateY(-50%) rotate(0);
        top: 20px;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li {
        border: none;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li>a {
        border-bottom: 1px solid #BAC3C9;
        border-top: none;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li.menu-item-has-children.hovered>a {
        border: none;
        width: -moz-fit-content;
        width: fit-content;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li.menu-item-has-children.hovered>a+ul {
        border-top: 1px solid #BAC3C9;
        border-radius: unset;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li:last-child>a {
        border: none;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li:last-child>a {
        border-bottom: none;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li.menu-item-has-children.hovered+li {
        border-top: 1px solid #BAC3C9;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li.menu-item-has-children.hovered>a {
        background: transparent !important;
    }

    header nav ul li.menu-item-has-children .sub-menu {
        padding: 0 10px;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li>.sub-menu {
        display: none;
        padding: 0 0 0 38px;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li>.sub-menu>li>a {
        padding: 8px 54px 8px 4px;
        color: #8395A1;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: transparent !important;
    }

    header nav ul li.menu-item-has-children .sub-menu li:hover {
        background: transparent !important;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li>.sub-menu>li:first-child {
        border-top: none;
    }

    header .mobile__menu nav>ul>li.menu-item-has-children>.sub-menu>li>.sub-menu>li {
        border-top: 1px solid #BAC3C9;
    }

    header .mobile__menu .mobile__location {
        padding: 2.5px 12px;
    }

    header .mobile__menu .mobile__location .header__location p {
        color: #333;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        padding: unset;
    }

    header .mobile__menu .mobile__location .location__icon {
        background-image: unset !important;
        background-repeat: unset !important;
        background-position: unset !important;
        background-size: unset !important;
        padding: 0;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .header-location-icon {
        min-width: 32px;
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 12px;
    }

    header .header__location:after {
        position: absolute;
        content: '';
        right: 11px;
        transform: translateY(-50%) rotate(90deg);
        width: 16px;
        height: 14px;
        top: 20px;
        background: url('../images/arrow-grey.svg');
    }

    header .mobile__menu .mobile__location .city__choice li {
        padding: 0;
        color: #8395A1;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        background: transparent url('../images/icon_location.svg') left 10px center no-repeat;
        margin-bottom: 0;
    }

    header .mobile__menu .mobile__location .city__choice li a {
        color: #8395A1;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10.5px 50px 10.5px 57px;
    }

    header .mobile__menu .mobile__location .city__choice {
        padding-top: 40px;
    }
}

@media(max-width: 768px) {
    /* section.equipment__block .equipment__wrap-title {
        display: none;
    } */

    .home .equipment__block.equipment__block-upd .equipment__wrap-mobile-title {
        display: none !important;
    }
}

@media(max-width: 390px) {

    .header__top--banner--catalog .left .h4__title,
    .header__top--banner .left .h4__title {
        font-size: 12px;
        text-align: center;
    }
}

@media(max-width: 340px) {

    .header__top--banner--catalog .left,
    .header__top--banner .left {
        width: 55%;
    }
}