*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


header {
	display: block;
}

.fon {
	background-image: url(img/fon.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;
}
/*главный экран*/
.flex {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: space-around;
	padding-top: 100px;
}

/*размер лого*/
.logo img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
/*размер лого*/

.block__first, .block__second {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.block__first, .left  {
	width: 70px;
	height: 30px;
	background: #fff;
}

.block__first, .right {
	width: 70px;
	height: 30px;
	background: #1E83D6;
}

.left span {
	font-size: 20px;
	font-weight: bold;
	color: #1E83D6;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.right span {
	font-size: 20px;
	font-weight: bold;
	color: #fff;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.call {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}

.call img {
	width: 40px;
	height: 40px;
	object-fit: cover;
}

.call span {
	color: white;
	font-size: 20px;
	font-weight: bold;
}


.btn__header {
	width: 280px;
	height: 64px;
	border-radius: 30px;
	background: #1E83D6;
	margin: 0 auto;
	margin-top: 30%;

}

.btn__header a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: white;
	font-family: sans-serif;
}


/*SECTION*/

.fon__section {
		background-image: url(img/water.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	height: 100vh;

}



.header__section {
	width: 100%;
	height: 20vh;
}

.header__section h1 {
	font-size: 30px;
	color: #4d4545;
	font-weight: 700;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	font-family: sans-serif;
	width: 100%;
	height: 100%;

}


.center__section {
	width: 100%;
	height: 60vh;
}

.block__center {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}

.block__center img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.left__cirlce {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;

}

.right__circle {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
}

.left__cirlce span{
	text-align: center;
	padding-top: 25px;
	font-size: 30px;
	color: #4d4545;
	font-weight: bold;
	font-family: sans-serif;

}

.right__circle span{
	text-align: center;
	padding-top: 25px;
	font-size: 30px;
	color: #4d4545;
	font-weight: bold;
	font-family: sans-serif;
}




.footer__section {
	width: 100%;
	height: 20vh;
}

.btn-size {
	width: 100%;
	height: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.btn__section {
	width: 280px;
	height: 64px;
	border-radius: 30px;
	background: #1E83D6;
}

.btn__section a {
	width: 100%;
	height: 100%;
	text-decoration: none;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	color: white;
	font-family: sans-serif;
}



/*SECTION THREE*/
.fon__three {
	background-image: url(img/fonn.jpg);
	width: 100%;
	height: 100vh;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center center;
}


.p {
	padding-top: 50px;
	padding-bottom: 50px;
}

.grid {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100vh;

}

.line__one {
	width: 100%;
	height: 10vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.line__one img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.line__two {
	width: 100%;
	height: 10vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
} 

.line__two img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}


.block__center {
	width: 100%;
	height: 40vh;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-around;
	-ms-align-items: center;
	align-items: center;
}


.text {
	font-size: 30px;
	font-weight: bold;
	font-family: sans-serif;
	text-align: center;
}


footer {
	width: 100%;
	height: 40vh;
	font-family: sans-serif;
}

.footer {
	text-align: center;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	width: 100%;
	height: 100%;
}

