.block__gray {
  background-color: #f2f2f2; }

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 100px;
  background: #FFD71D;
  border: 2px solid var(--Turbo_Yellow, #FFD71D);
  flex-direction: column;
  color: #0C1423;
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase; }

.input__text {
  border-radius: 50px;
  border: 2px solid var(--Turbo_Yellow, #FFD71D);
  height: 50px;
  flex-shrink: 0; }

.callback__banner {
  margin-top: 40px; }

.callback__banner__wrapper {
  height: 480px;
  background-color: white;
  border-radius: 25px;
  overflow: hidden;
  position: relative; }
  .callback__banner__wrapper::before {
    display: block;
    content: " ";
    width: 717.77px;
    height: 287.11px;
    right: -20%;
    top: 187.54px;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    background: #EAF1F5;
    border-radius: 200px; }
  .callback__banner__wrapper::after {
    display: block;
    content: " ";
    width: 717.77px;
    height: 287.11px;
    left: -203px;
    top: 531.54px;
    position: absolute;
    transform: rotate(-45deg);
    transform-origin: 0 0;
    border-radius: 200px;
    border: 2px #EAF1F5 solid; }
  @media only screen and (max-width: 576px) {
    .callback__banner__wrapper {
      flex-direction: column;
      height: unset; }
      .callback__banner__wrapper::before, .callback__banner__wrapper::after {
        display: none; } }

.callback__form__wrap {
  position: relative;
  max-width: 1300px;
  margin: 0 auto;
  height: 454px; }
  .callback__form__wrap .callback__background {
    border-radius: 25px;
    display: flex;
    justify-content: center; }
    .callback__form__wrap .callback__background .shadow {
      margin-top: -12px;
      width: 90%;
      height: 1px;
      background: rgba(255, 255, 255, 0);
      box-shadow: 0px 17px 51px 14px rgba(0, 0, 0, 0.22); }
  .callback__form__wrap .button {
    width: 240px;
    height: 50px;
    padding: 20px 36px; }
  .callback__form__wrap .search__callback {
    display: flex;
    flex-direction: row;
    height: 100%;
    font-family: Futura Reg, sans-serif; }
    .callback__form__wrap .search__callback .search__callback__img {
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
      z-index: 1;
      width: 40%;
      align-items: flex-end;
      margin-right: 82px; }
      .callback__form__wrap .search__callback .search__callback__img img {
        max-height: 100%; }
    .callback__form__wrap .search__callback .search__callback__content {
      display: flex;
      flex-grow: 0;
      flex-shrink: 1;
      flex-basis: auto;
      align-self: auto;
      order: 0;
      width: 60%;
      z-index: 1;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start; }
      .callback__form__wrap .search__callback .search__callback__content .callback__form {
        max-width: 652px;
        margin-left: 62px; }
        .callback__form__wrap .search__callback .search__callback__content .callback__form .callback__header {
          color: var(--Black, #000);
          font-size: 32px;
          font-weight: 600;
          line-height: 140%;
          letter-spacing: 0.32px; }
        .callback__form__wrap .search__callback .search__callback__content .callback__form .callback__subheader {
          color: var(--Black, #000);
          font-size: 24px;
          font-weight: 400;
          line-height: 180%;
          letter-spacing: 0.24px; }
        .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 {
          margin-top: 26px; }
          .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 .ajax-loader {
            display: none; }
          .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 .input__text {
            padding-left: 14px;
            color: var(--Black, #000);
            font-size: 20px;
            font-style: normal;
            font-weight: 500;
            letter-spacing: 0.2px;
            width: 100%;
            max-width: 326px; }
          .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 .button {
            margin-left: 19px;
            color: #0C1423;
            text-align: center;
            font-size: 14px;
            font-style: normal;
            font-weight: 600;
            line-height: normal;
            text-transform: uppercase; }
            .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 .button:hover {
              border: 2px solid var(--Yellow-accent, #FFD71D);
              background: var(--White, #FFF); }
  @media only screen and (max-width: 576px) {
    .callback__form__wrap {
      flex-direction: column;
      align-content: center;
      align-items: center;
      justify-content: space-around;
      padding: 22px;
      flex-wrap: wrap;
      height: unset; }
      .callback__form__wrap .search__callback {
        flex-direction: column; }
        .callback__form__wrap .search__callback .search__callback__img {
          align-self: center;
          width: 90%;
          margin: 0; }
        .callback__form__wrap .search__callback .search__callback__content {
          width: 100%;
          padding: 22px;
          align-items: center; }
          .callback__form__wrap .search__callback .search__callback__content .callback__form {
            margin: 0;
            text-align: center; }
            .callback__form__wrap .search__callback .search__callback__content .callback__form .callback__header {
              font-size: 24px; }
            .callback__form__wrap .search__callback .search__callback__content .callback__form .callback__subheader {
              color: var(--Black, #9CB9CA);
              font-size: 14px; }
            .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 .input__text {
              height: 36px;
              font-size: 16px; }
            .callback__form__wrap .search__callback .search__callback__content .callback__form .wpcf7 .button {
              height: 32px;
              font-size: 14px;
              align-self: center;
              padding: 0;
              width: 186px; } }
  .callback__form__wrap form {
    display: flex; }
    @media only screen and (max-width: 992px) {
      .callback__form__wrap form {
        flex-direction: column; }
        .callback__form__wrap form .input__text {
          margin-bottom: 10px; }
        .callback__form__wrap form .button {
          margin-left: unset !important; } }

footer {
  /* Core styles/functionality */
  /* Visual styles */
  /* Small animation */ }
  footer .tab input:checked ~ .tab__content {
    max-height: 100rem; }
  footer .accordion {
    display: none;
    overflow: hidden;
    margin-bottom: 33px; }
    footer .accordion .tab__label,
    footer .accordion .tab__close {
      display: flex;
      color: white;
      background: var(--theme);
      cursor: pointer; }
    footer .accordion .tab__label {
      justify-content: space-between;
      padding: 0 0 10px 0;
      border-bottom: 1px solid #494848;
      font-size: 20px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      margin-top: 18px; }
      footer .accordion .tab__label::after {
        content: url(../images/Down_Arrow_5.svg);
        text-align: center;
        transition: all 0.35s;
        height: 30px; }
    footer .accordion .tab input {
      position: absolute;
      opacity: 0;
      z-index: -1; }
    footer .accordion .tab input:checked + .tab__label::after {
      transform: rotate(180deg); }
    footer .accordion .tab__content {
      max-height: 0;
      overflow: hidden;
      transition: all 0.35s; }
      footer .accordion .tab__content p {
        margin: 0;
        padding: 1rem; }
      footer .accordion .tab__content li {
        font-size: 15px;
        margin-top: 10px; }
      footer .accordion .tab__content a {
        color: white; }
    footer .accordion .tab__close {
      justify-content: flex-end;
      padding: 0.5rem 1rem;
      font-size: 0.75rem; }
  footer .accordion--radio {
    --theme: var(--secondary); }
  footer .google__reviews {
    padding: 17px 0 0 40px; }
  footer .mobile__social {
    display: none; }
@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem); }
  75% {
    transform: rotate(90deg) translate(-0.25rem); } }
.fourth__block__new {
  background-color: #f2f2f2;
  padding: 100px 0 100px; }
  .fourth__block__new .price__block__new {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background: #fff;
    max-height: 500px;
    border-radius: 8px;
    height: 500px; }
  .fourth__block__new .image__block__new {
    height: 530px;
    align-self: flex-end;
    z-index: 20;
    max-width: 50%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    overflow-x: hidden; }
    .fourth__block__new .image__block__new img {
      max-width: unset;
      display: block; }
    .fourth__block__new .image__block__new picture {
      max-width: unset;
      height: 100%;
      display: flex;
      justify-content: center; }
  .fourth__block__new .price__inner__new {
    display: flex;
    border-radius: 8px;
    max-height: 500px;
    padding: 125px 200px;
    background-color: #fff;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -moz-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    z-index: 10;
    min-width: 60%; }
    .fourth__block__new .price__inner__new .block__description {
      max-width: 674px; }
      .fourth__block__new .price__inner__new .block__description .h4__title {
        font-size: 42px;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: 0.32px;
        margin-bottom: 10px; }
      .fourth__block__new .price__inner__new .block__description p {
        font-size: 24px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: 0.24px;
        color: #000;
        text-align: left; }
    .fourth__block__new .price__inner__new .callback__form {
      max-width: 672px; }
      .fourth__block__new .price__inner__new .callback__form .callback__header {
        color: var(--Black, #000);
        font-size: 32px;
        font-weight: 600;
        line-height: 140%;
        letter-spacing: 0.32px; }
      .fourth__block__new .price__inner__new .callback__form .callback__subheader {
        color: var(--Black, #000);
        font-size: 24px;
        font-weight: 400;
        line-height: 180%;
        letter-spacing: 0.24px; }
      .fourth__block__new .price__inner__new .callback__form .wpcf7 {
        margin-top: 26px; }
        .fourth__block__new .price__inner__new .callback__form .wpcf7 .input__wrapper {
          display: flex;
          justify-content: space-between; }
          .fourth__block__new .price__inner__new .callback__form .wpcf7 .input__wrapper span {
            display: contents; }
          @media (max-width: 992px) {
            .fourth__block__new .price__inner__new .callback__form .wpcf7 .input__wrapper {
              justify-content: center;
              column-gap: 10px; } }
          @media (max-width: 582px) {
            .fourth__block__new .price__inner__new .callback__form .wpcf7 .input__wrapper {
              flex-direction: column;
              align-items: center; } }
        .fourth__block__new .price__inner__new .callback__form .wpcf7 .ajax-loader {
          display: none; }
        .fourth__block__new .price__inner__new .callback__form .wpcf7 .your-phone {
          margin-left: 10px; }
        .fourth__block__new .price__inner__new .callback__form .wpcf7 .text__input,
        .fourth__block__new .price__inner__new .callback__form .wpcf7 .phone__input {
          padding-left: 14px;
          color: var(--Black, #000);
          font-size: 20px;
          font-style: normal;
          font-weight: 500;
          letter-spacing: 0.2px;
          width: 100%;
          max-width: 326px;
          border-radius: 50px;
          border: 2px solid var(--Turbo_Yellow, #FFD71D);
          height: 50px;
          flex-shrink: 0; }
        .fourth__block__new .price__inner__new .callback__form .wpcf7 .button {
          margin-left: 19px;
          color: #0C1423;
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-transform: uppercase;
          height: 50px;
          width: 230px;
          margin: 18px auto 0;
          float: right; }
          .fourth__block__new .price__inner__new .callback__form .wpcf7 .button:hover {
            background: var(--White, #FFF); }
    @media (max-width: 1520px) {
      .fourth__block__new .price__inner__new {
        padding: 40px 62px; } }
    @media (min-width: 1520px) and (max-width: 1700px) {
      .fourth__block__new .price__inner__new {
        padding: 51px 140px; } }
  @media (max-width: 1221px) {
    .fourth__block__new .price__block__new {
      display: flex;
      flex-direction: column;
      background: #fff;
      border-radius: 8px;
      height: unset;
      max-height: unset;
      max-width: unset; }
      .fourth__block__new .price__block__new .image__block__new {
        order: 2;
        text-align: center;
        position: unset;
        height: unset;
        align-self: center; }
        .fourth__block__new .price__block__new .image__block__new img {
          max-width: 100%;
          max-height: 283px; }
      .fourth__block__new .price__block__new .price__inner__new {
        padding: unset;
        max-height: unset;
        justify-content: center; }
        .fourth__block__new .price__block__new .price__inner__new .block__description {
          padding: 50px 0; } }
  @media (max-width: 992px) {
    .fourth__block__new {
      padding: 60px 0 60px; }
      .fourth__block__new .price__block__new .price__inner__new .block__description {
        padding: 22px; }
        .fourth__block__new .price__block__new .price__inner__new .block__description .h4__title {
          font-size: 28px;
          text-align: center; }
        .fourth__block__new .price__block__new .price__inner__new .block__description .undertitle {
          text-align: center;
          font-size: 14px;
          color: var(--Black, #9CB9CA); }
        .fourth__block__new .price__block__new .price__inner__new .block__description .callback__form {
          text-align: center; }
          .fourth__block__new .price__block__new .price__inner__new .block__description .callback__form .text__input,
          .fourth__block__new .price__block__new .price__inner__new .block__description .callback__form .phone__input {
            margin-bottom: 10px;
            height: 36px;
            font-size: 16px;
            max-width: 252px; }
          .fourth__block__new .price__block__new .price__inner__new .block__description .callback__form .your-phone {
            margin-left: unset; }
          .fourth__block__new .price__block__new .price__inner__new .block__description .callback__form .button {
            height: 36px;
            margin-top: unset;
            float: unset; } }

.page-template-front-page-old .second__block, .single-cities .second__block {
  padding-top: 0px;
  padding-bottom: 70px; }
.page-template-front-page-old .advantage__video--wrap, .single-cities .advantage__video--wrap {
  height: auto; }
.page-template-front-page-old .sctn.remont__turbin, .single-cities .sctn.remont__turbin {
  background-color: #f2f2f2;
  padding-bottom: 100px; }
  @media (max-width: 992px) {
    .page-template-front-page-old .sctn.remont__turbin, .single-cities .sctn.remont__turbin {
      padding-bottom: 1px; } }

@media only screen and (max-width: 576px) {
  .callback__banner {
    margin-top: 0; } }
.page-template-diagnostika .third__block {
  padding-bottom: 0; }

/*# sourceMappingURL=redesign.css.map */
