* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Arial" sans-serif;
  font-size: 18px;

}



header {
  background-image: url("img/alina.jpg");
  height: 100vh;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}



.next {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.next a {
    text-decoration: none;
    background: red;
    padding: 25px 65px;
    color: white;
    border: 1px white solid;
    font-size: 25px;
}