* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  min-height: 100vh;
  overflow: hidden;

  background: repeating-radial-gradient(
    circle at center,
    #444 0 10%,
    #111 10% 20%
  );

  touch-action: none;

  position: relative;
}

canvas {
  width: 100%;
  height: auto;
  object-fit: contain;
}

.main {
  z-index: 111;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.5);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(50, 173, 2, 0.5);
  text-align: center; /* Чтобы текст был по центру по горизонтали */



}

.main a {
  font-size: 80px;
  font-family: 'Alef', sans-serif; /* Замените на желаемый шрифт */
  color: #fff;
  font-weight: bold;

  text-decoration: none;

}

