/*======= Simple Icon Box =======*/
.simple-icon-box {
    .icon {
        margin-bottom: 25px;
        font-size: 50px;
        line-height: 0.5;
        color: $color-primary;
    }

    .title {
        font-size: 24px;
        letter-spacing: -0.03px;
        margin-bottom: 10px;
    }

    &.icon-left {
        display: flex;
        align-items: flex-start;

        .icon {
            margin-bottom: 0;
            margin-right: 25px;
        }
    }
}