html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("../images/headerbackfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
}

.container {
  max-width: 1120px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  padding: 25px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin-left: 40px;
}

.menu__list-link {
  padding: 4px 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  transition: border-bottom 0.3s ease-in-out;
}

.menu__list-link:hover {
  border-bottom: 3px solid #e4e182;
}

.header__btn {
  padding: 13px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ce0927;
  border-radius: 5px;
}

.header__btn:hover {
  background-color: #f8072b;
}

.header__content {
  padding-top: 74px;
}

.header__content {
  position: relative;
}

.header__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  width: 469px;
  color: #ffffff;
}

.header__title span {
  color: #ce0927;
}

.header__text {
  padding-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #959595;
  width: 518px;
  margin-bottom: 47px;
}

.button {
  padding: 17px 88px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background-color: #ce0927;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s;
}

.button:hover {
  background-color: #f8072b;
}

.header__content-img {
  position: absolute;
  right: -49px;
  bottom: -189px;
}

/* Тут начинается вторая секция рефка (Главное меню) */

.ref {
  background-image: url('../images/bg_ref.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #161D21;
  width: 100%;
  height: 400px;
}

.ref__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ref__inner .title {
  padding-top: 25px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
}

.ref__inner .text {
  width: 600px;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 35px;

  font-size: 24px;
  line-height: 36px;
  color: #959595;
}

.ref__inner .btn {
  padding-bottom: 25px;
}

.btn a {
  padding: 16px 70px;
  background: #ce0927;
  border-radius: 5px;
  color: white;
}

/* тут начинается уже третий блок choose */

.choose{
    background-color: #161D21;
}

.choose__inner{
    padding: 129px 0 109px;
    position: relative;
}

.choose__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.choose__text{
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    color: #959595;
    margin-bottom: 48px;
    width: 469px;
}

.choose__info-item{
    padding: 17px;
    position: relative;
    padding-left: 98px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #21262A;
    margin-bottom: 43px;
    border-radius: 5px;
    width: 472px;
    box-shadow: 0px 0px 5px 2px rgba(250, 25, 25, 0.25);
}

.choose__info-item::before{
    content: "";
    position: absolute;
    top: 27px;
    left: 25px;
    width: 40px;
    height: 40px;
}

.choose__item-money::before{
    background-image: url('../images/choosemoney.png');
}
.choose__item-safe::before{
background-image: url('../images/choosesafe.png');
}
.choose__item-dollar::before{
background-image: url('../images/choosedollar.png');
}

.choose__info-item span{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
    padding-top: 5px;
}

.choose__ikon{
    position: absolute;
    right: -22px;
    bottom: 225px;
}