

@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
@import url('https://fonts.googleapis.com/css2?family=Schibsted+Grotesk:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet');
 :root {
     --pbmit-global-color: #afd616;
     --pbmit-secondary-color: #1f1d1d;
     --pbmit-light-color: #f6f6f6;
     --pbmit-white-color: #ffffff;
     --pbmit-blackish-color: #000000;
     --pbmit-link-color-normal: #000000;
     --pbmit-link-color-hover: #525252;
     --pbmit-global-color-rgb: 175, 214, 22;
     --pbmit-secondary-color-rgb: 31, 29, 29;
     --pbmit-responsive-breakpoint: 1200px;
     --pbmit-body-typography-font-family:'Hanken Grotesk', sans-serif;
     --pbmit-body-typography-variant: regular;
     --pbmit-body-typography-font-size: 16px;
     --pbmit-body-typography-line-height: 1.5;
     --pbmit-body-typography-color: #666666;
     --pbmit-heading-typography-font-family:  'Schibsted Grotesk', sans-serif;
     --pbmit-heading-color: #000000;
     --pbmit-heading-font-variant: 600;
     --pbmit-btn-typography-font-family:  'Schibsted Grotesk', sans-serif;
     --pbmit-btn-typography-variant: 500;
     --pbmit-btn-typography-font-size: 15px;
     --pbmit-btn-typography-line-height: 24px;
}

/*----------------------------------------*/
/* 01 - Typography 
/*----------------------------------------*/
h1, h2, h3, h4, h5, h6 {
    font-family:var(--pbmit-heading-typography-font-family);
    font-weight: 700;
    color: var(--pbmit-heading-color);
}