@font-face {
    font-family: "flaticon_digiwize";
    src: url("../fonts/flaticon_digiwize.ttf") format("truetype"),
url("../fonts/flaticon_digiwize.woff") format("woff"),
url("../fonts/flaticon_digiwize.woff2") format("woff2"),
url("../fonts/flaticon_digiwize.eot#iefix") format("embedded-opentype"),
url("../images/flaticon_digiwize.svg#flaticon_digiwize") format("svg");
}

i[class^="flaticon_digiwize-"]:before, i[class*=" pbmit-digiwize-icon-"]:before {
    font-family: "flaticon_digiwize";
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.pbmit-digiwize-icon-hollow:before {
    content: "\f101";
}
.pbmit-digiwize-icon-geometrical-shape:before {
    content: "\f102";
}
.pbmit-digiwize-icon-irregular:before {
    content: "\f103";
}
.pbmit-digiwize-icon-impossible-triangle:before {
    content: "\f104";
}
.pbmit-digiwize-icon-isometric:before {
    content: "\f105";
}
.pbmit-digiwize-icon-impossible-triangle-1:before {
    content: "\f106";
}
.pbmit-digiwize-icon-irregular-1:before {
    content: "\f107";
}
.pbmit-digiwize-icon-diamond:before {
    content: "\f108";
}
.pbmit-digiwize-icon-cubes:before {
    content: "\f109";
}
.pbmit-digiwize-icon-cube:before {
    content: "\f10a";
}
.pbmit-digiwize-icon-triangles:before {
    content: "\f10b";
}
.pbmit-digiwize-icon-hollow-1:before {
    content: "\f10c";
}
.pbmit-digiwize-icon-spark:before {
    content: "\f10d";
}
.pbmit-digiwize-icon-sparkle:before {
    content: "\f10e";
}
.pbmit-digiwize-icon-analytics:before {
    content: "\f10f";
}
.pbmit-digiwize-icon-up-right:before {
    content: "\f110";
}
.pbmit-digiwize-icon-quote:before {
    content: "\f111";
}
.pbmit-digiwize-icon-replay:before {
    content: "\f112";
}
.pbmit-digiwize-icon-replay-1:before {
    content: "\f113";
}
.pbmit-digiwize-icon-add:before {
    content: "\f114";
}
.pbmit-digiwize-icon-minus:before {
    content: "\f115";
}
.pbmit-digiwize-icon-angle:before {
    content: "\f116";
}
.pbmit-digiwize-icon-location:before {
    content: "\f117";
}
.pbmit-digiwize-icon-telephone:before {
    content: "\f118";
}
.pbmit-digiwize-icon-email:before {
    content: "\f119";
}
.pbmit-digiwize-icon-clock:before {
    content: "\f11a";
}
.pbmit-digiwize-icon-movie:before {
    content: "\f11b";
}
.pbmit-digiwize-icon-coding:before {
    content: "\f11c";
}
.pbmit-digiwize-icon-secure-shield:before {
    content: "\f11d";
}
.pbmit-digiwize-icon-suitcase:before {
    content: "\f11e";
}
.pbmit-digiwize-icon-manager:before {
    content: "\f11f";
}
.pbmit-digiwize-icon-like:before {
    content: "\f120";
}
.pbmit-digiwize-icon-trophy:before {
    content: "\f121";
}
.pbmit-digiwize-icon-rocket:before {
    content: "\f122";
}
.pbmit-digiwize-icon-application:before {
    content: "\f123";
}
.pbmit-digiwize-icon-strategy:before {
    content: "\f124";
}
.pbmit-digiwize-icon-public-relation:before {
    content: "\f125";
}
.pbmit-digiwize-icon-branding:before {
    content: "\f126";
}
.pbmit-digiwize-icon-badge:before {
    content: "\f127";
}
.pbmit-digiwize-icon-content-marketing:before {
    content: "\f128";
}
.pbmit-digiwize-icon-article:before {
    content: "\f129";
}
.pbmit-digiwize-icon-logo:before {
    content: "\f12a";
}
.pbmit-digiwize-icon-tools:before {
    content: "\f12b";
}
.pbmit-digiwize-icon-tools-1:before {
    content: "\f12c";
}
.pbmit-digiwize-icon-code-review:before {
    content: "\f12d";
}
.pbmit-digiwize-icon-target:before {
    content: "\f12e";
}
.pbmit-digiwize-icon-binocular:before {
    content: "\f12f";
}
.pbmit-digiwize-icon-app-development:before {
    content: "\f130";
}
.pbmit-digiwize-icon-web-development:before {
    content: "\f131";
}
.pbmit-digiwize-icon-pie-chart:before {
    content: "\f132";
}
.pbmit-digiwize-icon-goal:before {
    content: "\f133";
}
.pbmit-digiwize-icon-tag:before {
    content: "\f134";
}
.pbmit-digiwize-icon-seo:before {
    content: "\f135";
}
.pbmit-digiwize-icon-graph:before {
    content: "\f136";
}
.pbmit-digiwize-icon-customer-behavior:before {
    content: "\f137";
}
.pbmit-digiwize-icon-performance:before {
    content: "\f138";
}
.pbmit-digiwize-icon-statistics:before {
    content: "\f139";
}
.pbmit-digiwize-icon-medal:before {
    content: "\f13a";
}
.pbmit-digiwize-icon-settings:before {
    content: "\f13b";
}
.pbmit-digiwize-icon-search:before {
    content: "\f13c";
}
.pbmit-digiwize-icon-target-1:before {
    content: "\f13d";
}
.pbmit-digiwize-icon-online-marketing:before {
    content: "\f13e";
}
.pbmit-digiwize-icon-search-1:before {
    content: "\f13f";
}
.pbmit-digiwize-icon-copywriting:before {
    content: "\f140";
}
.pbmit-digiwize-icon-web-development-1:before {
    content: "\f141";
}
.pbmit-digiwize-icon-miscellaneus:before {
    content: "\f142";
}
.pbmit-digiwize-icon-play-button:before {
    content: "\f143";
}
.pbmit-digiwize-icon-d:before {
    content: "\f144";
}
.pbmit-digiwize-icon-b:before {
    content: "\f145";
}
.pbmit-digiwize-icon-flower:before {
    content: "\f146";
}
.pbmit-digiwize-icon-team:before {
    content: "\f147";
}
.pbmit-digiwize-icon-block-scheme-of-four-squares-outlines:before {
    content: "\f148";
}
.pbmit-digiwize-icon-sugar-cube:before {
    content: "\f149";
}
.pbmit-digiwize-icon-sugar-cubes:before {
    content: "\f14a";
}
