@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");

body {
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

#container {
  max-width: 1120px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

header {
  width: 100%;
  height: 100vh;
}

.header-nav {
}

.update-course {
  padding-top: 3px;
}

.nav__menu {
  height: 75px;
}

.menu__link {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.link {
  display: flex;
}

.link h1 {
  padding-left: 7px;
  padding-top: 2px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;

  color: #0a0b0d;
}
.logo {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;

  color: #0052ff;
}
.icon {
  padding-top: 2px;
}

.header-content {
  min-height: 100%;
  background: #f7f7f8;
}


.box {
  width: 500px;
  height: 500px;

  background: #ffffff;
  box-shadow: 0px 4px 4px 4px rgba(151, 150, 150, 0.25);
  border-radius: 15px;
}

.box-container {
  padding-left: 22px;
  padding-top: 26px;
}

.box-container h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  padding-bottom: 12px;
  color: #0a0b0d;
}

.box-container input {
  padding-left: 10px;
  width: 420px;
  height: 30px;
  border: 0.7px solid #c9c9c9;
  border-radius: 5px;
}

.coin-box {
  padding-top: 30px;
}
.coin-element {
  padding-top: 15px;
}

.active {
      background: #ffffff;
  width: 242px;
  height: 30pxrgb(151, 37, 37)
  justify-content: left;
  align-items: center;
  display: flex;
 
}

.coin-bg {
  background: #ffffff;
  width: 242px;
  height: 30pxrgb(151, 37, 37)
  justify-content: left;
  align-items: center;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.coin-bg:hover {
  background: #f7f7f8;
  cursor: pointer;
}

.coin-img {
  padding-left: 10px;
  padding-right: 7px;
}
.name-coin {
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 12px;
  color: #0a0b0d;
}
.active-block {
}

.change-info {
}

.change-info h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #0a0b0d;
}

.change-info h1 span {
  font-size: 14px;
}

.coin-info {
  display: flex;
}

.block-info {
  width: 120px;
  height: 15px;
  margin-left: 25px;
  padding-top: 5px;
  background: #0052ff;
  text-align: center;
}
.text-info {
  color: #ffffff;
  font-size: 12px;
}

.position {
  margin-left: 55px;
}
.money-info {
}
.form-main {
  padding-top: 25px;
}
.email-form {
  padding-bottom: 15px;
}
.payment-form {
  padding-bottom: 25px;
}
.final-form {
  display: flex;
}
.final-form input {
  width: 15px;
  height: 15px;
  background: #0052ff;
}

.final-text {
  padding-top: 2px;
  padding-left: 5px;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 12px;

  color: #0a0b0d;
}
.btn {
  padding-top: 20px;
  display: flex;
  justify-content: center;
}
.button {
  width: 135px;
  height: 40px;
  background: #0d6efd;
  border-radius: 5px
}

.btn a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
}



.change-main {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}


.converter {

  height: 26px;
  width: 90%;

  background: #0052ff;
}

.converter .text-converter{
    color: #fff;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.input-wallet {
  width: 420px;
  height: 30px;
  border: 0.7px solid #c9c9c9;
  border-radius: 5px;
  margin-bottom: 15px;
}

.button-wallet {
  outline: none;
   border: none;
   padding: 10px;
    color: #fff;
    background: #0052ff;
    text-align: center;
}

.upgrate-img {
  padding-right: 5px;
  padding-top: 2px;
}




@media (max-width: 1130px) {
    .box {
        width: 90%;
    }
    .box-container input {
        width: 90%;
    }
    .final-form {
        display: none;
    }
    .btn {
        padding-top: 15px;
    }
    .link h1 {
        font-size: 11px;
        padding-top: 3px;
    }
    .input-wallet {
      width: 280px;
    }
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-content h1 {
  line-height: 17px;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.min-text {
    color: #e74e14;
    padding-left: 7px;
    font-size: 12px;
    padding-top: 3px;
}



