// Backgrounds & Text & Links & Borders

$theme-color: #000;
$body-color: rgba(255, 255, 255, .69);
$heading-color: #fff;
$dark-color: #090909;
$bg-dark: #000;
$bg-light: #f9f9f9;
$bg-light-2: #e6e6e6;
$body-color-light: #0009;
$heading-color-light: #000;
$border-color-light: #bebebe;