@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "IBM Plaxe Sans", sans-serif;
  background: #080814;
  color: #fff;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  width: 100%;
  min-height: 150vh;
  padding-top: 50px;
  padding-bottom: 50px;
  background-image: url(../image/bg-change.svg);

  background-position: center;
  background-repeat: no-repeat;
}

#container {
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.navbar {
  display: flex;
  align-items: center;
  height: 100%;
}

.navbar h1 {
  padding-left: 15px;
}

.nav-menu {
  display: flex;
  justify-content: center;
}

.nav-menu li {
  padding-left: 40px;
  font-size: 20px;
}

.nav-menu a {
  font-family: "IBM Plex Sans";
  font-style: normal;
  font-weight: 400;

  line-height: 111.9%;

  color: #ffffff;
}

.logo-text .white {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 111.9%;
}

.logo-text .blue {
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 111.9%;

  background: linear-gradient(
    90deg,
    #a661ff 0.55%,
    #4954ff 55.65%,
    #11c9ff 115.54%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.right-column {
  display: flex;
  justify-content: center;
  align-items: center;
}

.language {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;

  background: #0a0a18;
}

.language .lang {
  padding-left: 4px;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 111.9%;

  color: #ffffff;
}

.sign-in {
  padding-left: 46px;
  padding-right: 55px;
}

.sign-in a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 111.9%;

  color: #ffffff;
}

.sign-up {
  background: #4954ff;
  box-shadow: 0px 0px 95.1711px rgba(0, 0, 0, 0.16);
  backdrop-filter: blur(24.0663px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 5.4696px;

  padding: 15px 44px;
}

.sign-up a {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 111.9%;
  color: #ffffff;
}

/*  */

.menu {
  display: none;
}

/*  */

/* start */

.main-block {
  display: flex;
  justify-content: center;
  margin-top: 159px;
}

.main-form {
  width: 751px;
  min-height: 1000px;
  background: #080814;
  border: 0.3px solid #fff;
  border-radius: 13px;
  padding-left: 45px;
  padding-right: 45px;
}

.main-text {
  padding-top: 55px;
}

.main-text h1 {
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  line-height: 111.9%;

  color: #ffffff;
}

.block-btn {
  display: flex;
  align-items: center;

  padding-top: 34px;
}

.first-btn {
  margin-right: 15px;
}

.first-btn h1 {
  border: 1px solid #1fa5f8;

  border-radius: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 111.9%;
  padding: 14px 22px;

  color: #a4a4a4;
}

.second-btn {
}

/*  */

.send-input {
  margin-top: 30px;
  border-radius: 13px;
  height: 95px;
  border: 1px solid #ffffff;

  display: flex;
}

.get-input {
  /* margin: 0px 45px 0 45px; */
  border-radius: 13px;
  height: 95px;
  border: 1px solid #ffffff;

  display: flex;
}

.left-input {
  width: 65%;
}

.left-input h1 {
  /* You Send */

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 111.9%;

  color: #353535;

  padding-left: 23px;
  padding-top: 16px;
  padding-bottom: 2px;
}

.left-input input {
  height: 40px;
  padding-left: 23px;
  background: #080814;
  border: none;

  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 111.9%;
  font-size: 35px;
  outline: none;
  color: #fff;
}

.right-input {
  width: 45%;
  border: 2px solid #ffffff;
  border-radius: 13px;
  border-right: 0;
  border-top: 0;
  border-bottom: 0;
}

.input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.input-container .name {
  padding-left: 15px;
  padding-right: 15px;
}

.input-container .name h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 111.9%;

  color: #ffffff;
}

.info-form {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-form h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 111.9%;
  /* identical to box height, or 17px */

  color: #ffffff;

  padding-left: 10px;
  padding-top: 15px;
}

.left-form-wait {
  padding-right: 0%;
}

.wait-photo {
  display: flex;
}

.button {
  margin-top: 40px;

  background: linear-gradient(
    90deg,
    #a661ff 0.55%,
    #4954ff 55.65%,
    #11c9ff 115.54%
  );
  border-radius: 13px;
}

.button h1 {
  padding: 32px 0px;
  text-align: center;
}

.text-sub {
  padding-top: 70px;
  padding-bottom: 30px;

  color: #353535;
}

.text-sub h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 111.9%;

  text-align: center;
  letter-spacing: -0.02em;
}

/*  */

/* new my */

.decor {
  margin-left: 25px;
  display: flex;
}

.decor h1 {
  padding-top: 20px;
  padding-left: 15px;

  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 111.9%;

  color: #ffffff;
}

.block-receipt-wallet {
  padding-top: 32px;
}

.block-receipt-wallet h1 {
  padding-bottom: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111.9%;

  color: #353535;
}

.block-receipt-wallet input {
  padding: 24px 24px;
  width: 100%;

  background: #080814;
  border-radius: 13px;
  border: 1px solid #fff;
  outline: none;

  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 111.9%;

  color: #ffffff;
}

.block-reff {
  padding-top: 32px;
}

.block-reff h1 {
  padding-bottom: 12px;

  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 111.9%;

  color: #353535;
}

.block-reff input {
  padding: 24px 24px;
  width: 100%;

  background: #080814;
  border-radius: 13px;
  border: 1px solid #fff;
  outline: none;

  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 111.9%;

  color: #ffffff;
}
/*  */

.second-btn h1 {
  border: 1px solid #a4a4a4;

  border-radius: 13px;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 111.9%;
  padding: 14px 22px;

  color: #a4a4a4;
}

.main-info {
  display: flex;
  padding-left: 90px;
  padding-top: 40px;
}

.main-info img {
  width: 50px;
  height: 230px;
}

.text-info {
  color: #ffffff;
  padding-top: 15px;
  padding-right: 15px;
}

.center {
    padding-top: 68px;
    padding-bottom: 68px;
}



.text-info h1 {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
}

@media (max-width: 1200px) {
  .sign-in {
    padding-left: 25px;
    padding-right: 30px;
  }
  .right-column {
    display: none;
  }

  .nav-menu {
    display: none;
  }

  .burger {
    display: block;
    width: 22px;
    height: 19px;
    background-image: url(../image/menu.svg);
    cursor: pointer;
  }

  .menu {
    border: 1px solid #0e0e35;
    background: #080814;
    position: absolute;
    width: 40%;
    height: 60vh;
    right: 11%;
    top: 15%;
    z-index: 1000;
    border: 1px solid #4954ff;
  }

  .main-link {
    padding: 10px 50px;
    margin: 10px 0;
    width: 100%;
  }

  .main-link a {
    color: #fff;

    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 111.9%;
  }


  .main-block {
    display: flex;
    flex-direction: column-reverse;
    
  }

  .main-form {
    width: 100%;
    margin-top: 70px;
}

.main-info {
    display: flex;
    padding-left: 0px;
    padding-top: 0px;
}


.input-container .name h1 {

    font-size: 22px;
   .button h1 {
    padding: 32px 274px;
}

}

.button h1 {
    text-align: center;
}
 
}

@media (max-width: 683px) {
    .input-container .name {
        padding-left: 5px;
        padding-right: 5px;
    }

    .main-form {
       
        min-height: 1048px;
        
    }

    .left-input {
        width: 60%;
    }
    .right-input {
        width: 50%;
        
    }

    .left-input input {
      
        padding-left: 15px;
        
       
        font-size: 30px;
    
    }

    .first-btn h1 {
      
        font-size: 18px;
    
    }
}

