@media (min-width: 1200px) and (max-width: 1919px){
    .header__main h1 {
        font-size: 8em;
        font-weight: bold;
    line-height: 1em;
    
    letter-spacing: 3px;
    }

    .niz {
        position: absolute;
        bottom: 15%;
        left: 7%;
        
    }

    .plohadki {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
   
}

@media (min-width: 1200px) and (max-width: 1600px){
    .header__main h1 {
        font-size: 7em;
        font-weight: bold;
    line-height: 1.3em;
    
    letter-spacing: 3px;
    }


    .micro {
        
        height: 60%;
        object-fit: contain;
        right: 3%;
        top: 42%;
        
    }
    .niz {
        position: absolute;
        bottom: 15%;
        left: 5%;
        
    }

    .plohadki {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}



/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {


    .header__main h1 {
        font-size: 7em;
        font-weight: bold;
    line-height: 1.2em;
    
    letter-spacing: 3px;
    }

    .micro {
     
        height: 42%;
        object-fit: contain;
        left: 65%;
        top: 60%;
        
    }

    .niz {
        position: absolute;
        bottom: 18%;
        left: 5%;
        
    }

    .plohadki {
        width: 73%;
        height: 73%;
        object-fit: cover;
        z-index: 1;
    }

}

/* Portrait tablets and small desktops */
@media (min-width: 768px) and (max-width: 991px) {

    .header {
        width: 100%;
        height: 80vh;
    }

    .header__main h1 {
        font-size: 5em;
        font-weight: bold;
    line-height: 1.2em;
    
    letter-spacing: 3px;
    }

    .micro {
       
        height: 40%;
        object-fit: contain;
        left: 72%;
        top: 40%;
        
    }
    .plohadki {
        width: 67%;
        height: 67%;
        object-fit: contain;
    }
    .niz {
        position: absolute;
        bottom: 35%;
        left: 5%;
        
    }
}

/* Landscape phones and portrait tablets */
@media (max-width: 767px) {
    .header {
        width: 100%;
        height: 65vh;
    }

    .header__main h1 {
        font-size: 3.5em;
        font-weight: bold;
    line-height: 1.2em;
    
    letter-spacing: 3px;
    }

    .micro {
      
        height: 30%;
        object-fit: contain;
        left: 75%;
        top: 35.2%;
        
    }
    .plohadki {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    .niz {
        position: absolute;
        bottom: 45%;
        left: 5%;
        
    }

    .more {
        font-size: 20px;
    }
}

/* Landscape phones and smaller */
@media (max-width: 480px) {
  
    

    .header__main h1 {
        font-size: 2.2em;
        font-weight: bold;
    line-height: 1.4em;
    padding-top: 70px;
    letter-spacing: 5px;
    }


    .micro {
      
        height: 25%;
        object-fit: contain;
        left: 68%;
        top: 40%;
        
    }
    .plohadki {
        width: 70%;
        height: 70%;
        object-fit: contain;
    }
    .niz {
        position: absolute;
        bottom: 45%;
        left: 5%;
        
    }

    .more {
        font-size: 10px;
    }

    .logo__fixed {
        padding-left: 10px;
        padding-top: 20px;
        width: 90px;
        height: 50px;
        object-fit: contain;
       
       
    }


}