* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  min-height: 100vh;
  background-image: url("../images/headerbackfon.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  padding: 0 10px;
}

.header__top {
  padding: 25px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.menu__list-item {
  margin-left: 40px;
}

.menu__list-link {
  padding: 4px 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  transition: border-bottom 0.3s ease-in-out;
}

.menu__list-link:hover {
  border-bottom: 3px solid #e4e182;
}

.header__btn {
  padding: 13px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ce0927;
  border-radius: 5px;
}

.header__btn:hover {
  background-color: #f8072b;
}

.exchange__item {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 50px;
}

.main__block {
  margin-bottom: 50px;
  width: 400px;
  min-height: 500px;
  padding: 30px;
  background: #262c31;
  border: 1px solid #ce0927;
  border-radius: 10px;
}

.main__block input {
  width: 100%;
  height: 40px;
  border: 2px solid #ce0927;
  border-radius: 5px;
  background: #262c31;
  outline: none;
  padding-left: 7px;
  color: #959595;
}

.main__tab {
  margin-top: 20px;
}

.block {
  margin-top: 15px;
  width: 100%;
  height: 40px;
  padding-left: 10px;
  background: #181c1f;
  border: 1px solid #292e32;
  border-radius: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #fff;
}

.main__text {
  padding-left: 10px;
}

.block.active {
  background: #e4e182;
  color: #000;
}

.tabs-content__item {
  display: none;
}

.tabs-content__item.active {
  display: block;
}

ul {
  list-style-type: none;
}

ul li {
  margin-top: 10px;
}

a {
  text-decoration: none;
  color: #000;
}



.exchange__to {
  width: 400px;
  min-height: 500px;
  padding: 15px;

  background: #262c31;
  border: 1px solid #ce0927;
  border-radius: 10px;
}

@media (max-width: 1024px) {
  body {
    min-width: 100%;
  }
  .header__top {
    display: none;
  }

  .exchange__item {
    display: block;
  }

  .exchange__from {
    display: flex;
    justify-content: center;
    min-height: 100%;
    overflow-x: unset;
  }

  .exchange__to {
    width: 100%;
  }
}
