/*******************************************************/
/******************* ## Error Area ********************/
/*******************************************************/
.error-content
    text-align: center
    .error-text
        color: white
        line-height: 1
        display: block
        font-weight: 700
        font-size: 330px
        +res-bl(lg)
            font-size: 30vw
    h2
        margin-bottom: 30px
        +res-bl(sm)
            font-size: 40px
        +res-bl(xs)
            font-size: 30px
        span
            color: $primary-color
    p
        +res-ab(ms)
            font-size: 18px