html {
  box-sizing: border-box;
}



::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #00c6fb, #005bea);
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
}

.header {
  background-image: url("../images/headerbackfon.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
  min-height: 100vh;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__top {
  padding: 25px 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu__list {
  display: flex;
}

.main-link a{
  color: #fff;
}

.menu__list-item {
  margin-left: 40px;
}

.menu__list-link {
  padding: 4px 2px;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
  color: #ffffff;
  transition: border-bottom 0.3s ease-in-out;
}

.menu__list-link:hover {
  border-bottom: 3px solid #e4e182;
}

.header__btn {
  padding: 13px 21px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
  background-color: #ce0927;
  border-radius: 5px;
}

.header__btn:hover {
  background-color: #f8072b;
}

.header__content {
 
 
}

.header__content-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__content {
  /* position: relative; */
}

.header__title {
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  width: 469px;
  color: #ffffff;
}

.header__title span {
  color: #ce0927;
}

.header__text {
  padding-top: 12px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: #959595;
  width: 518px;
  margin-bottom: 47px;
}

.button {
  padding: 17px 88px;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
  background-color: #ce0927;
  border-radius: 5px;
  color: #ffffff;
  transition: all 0.3s;
}

.button:hover {
  background-color: #f8072b;
}

/* .header__content-img { */
  /* position: absolute;
  right: -49px;
  bottom: -189px;
} */

/* Тут начинается вторая секция рефка (Главное меню) */

.ref {
  background-image: url('../images/bg_ref.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #161D21;
  width: 100%;
  height: 400px;
}

.ref__inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.ref__inner .title {
  padding-top: 25px;

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 60px;
  color: #ffffff;
}

.ref__inner .text {
  width: 600px;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 35px;

  font-size: 20px;
  line-height: 36px;
  color: #959595;
}

.ref__inner .btn {
  padding-bottom: 25px;
}

.btn a {
  padding: 16px 70px;
  background: #ce0927;
  border-radius: 5px;
  color: white;
  transition: all 0.3s;
}

.btn a:hover {
  background-color: #f8072b;
}

/* тут начинается уже третий блок choose */

.choose{
    background-color: #161D21;
}

.choose__inner{
    padding: 129px 0 109px;
    
}

.choose__title{
    font-weight: 600;
    font-size: 40px;
    line-height: 60px;
    color: #FFFFFF;
}

.choose__text{
    font-weight: 400;
    font-size: 18px;
    line-height: 36px;
    color: #959595;
    margin-bottom: 48px;
    width: 469px;
}

.choose__inner{
  display: flex;
  justify-content: space-between;
}

.choose__info-item{
    padding: 17px;
    position: relative;
    padding-left: 98px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    color: #FFFFFF;
    background: #21262A;
    margin-bottom: 43px;
    border-radius: 5px;
    width: 472px;
    box-shadow: 0px 0px 5px 2px rgba(250, 25, 25, 0.25);
}

.choose__info-item::before{
    content: "";
    position: absolute;
    top: 27px;
    left: 25px;
    width: 40px;
    height: 40px;
}

.choose__item-money::before{
    background-image: url('../images/choosemoney.png');
}
.choose__item-safe::before{
background-image: url('../images/choosesafe.png');
}
.choose__item-dollar::before{
background-image: url('../images/choosedollar.png');
}

.choose__info-item span{
    display: block;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #959595;
    padding-top: 5px;
}

.choose__ikon{
  
}

/* начало faq */

.faq{
  background-color: #21262A;
  padding: 30px 0 100px;
  width: 100%;
}

.title__about{
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  color: #FFFFFF;
  
  margin-bottom: 18px;
}

.about__inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__text{
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #959595;
  margin-bottom: 54px;
  width: 455px;
  height: 63px;
  text-align: center;
}

.container-accordion{
  padding: 30px;
  max-width: 1120px;
  margin: 0 auto;
}

.container-accordion .box{
  position: relative;
  margin-bottom: 30px;
  text-align: center;
}

.container-accordion .box .label{
  position: relative;
  padding: 20px;
  background-color: #181C1F;;
  color: #fff;
  cursor: pointer;
  border-radius: 5px;
}

.container-accordion .box .label::after{
  content: "+";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 20px;
  font-size: 25px;
  font-weight: bold;
}

.container-accordion .box.active .label::after{
  content: "\2014";
}

.container-accordion .box .content{
  position: relative;
  overflow: hidden;
  max-height: 0;
  transition: 0.3s;

} 

.container-accordion .box .content p{
  padding: 20px;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
  color: #959595;
}

.footer{
 background-image: url('../images/footerbg.jpg');
 background-color: #000000;
 background-repeat: no-repeat;
 background-size: cover;
 background-position: top center;
}

.footer__inner{
  padding: 65px 0 80px;
  display: flex;
  justify-content: space-between;
  }

.footer-item{
  display: flex;
  flex-direction: column;

}

.footer__logo-img{
  margin-bottom: 15px;
}

.footer__logo-text{
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #959595;
}

.footer__social-img + .footer__social-img{
  padding-left: 10px;
}



.footer__logo-text{
  width: 216px;
  margin-bottom: 20px;
}

.footer__menu-title{
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  color: #FFFFFF;
  margin-bottom: 7px;
}

.footer__menu-link{
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #959595;
}

.footer__copy{
  padding: 16px 0 16px;
  background-color: #000000;
}

.footer__copy-link{
  text-align: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #FFFFFF;
}

.burger {
  display: none;
  }
  
  .burger div {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px;
  }
  
  .navmenu {
    display: none;
  }
  



@media (max-width:1024px){
  .header__content-inner {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.choose__inner{
  display: block;
}




}

 


  

@media screen and (max-width: 768px){

  .menu{
    display: none;

  }

  .header__btn{
    display: none;
  }

  .header__title{
   width: 100%;
   text-align: center;
   font-size: 33px;
   line-height: 45px;
  }

  .header__text{
   width: 100%;
   font-size: 15px;
   line-height: 24px;
   text-align: center;
  }

  .button__wrapper{
   display: flex;	
   justify-content: center;
  }

  .button{
   padding: 16px 81px;
   font-size: 14px;
   line-height: 20px;
  }


  .ref__inner .title {
   font-size: 25px;
   line-height: 42px;
  }

  .ref__inner .text{
   width: 100%;
   font-size: 16px;
   line-height: 30px;
   margin-bottom: 50px;
  }


  .btn a{
   padding: 20px 56px;
   font-size: 14px;
   line-height: 20px;
}


.choose__title{
 font-size: 33px;
 line-height: 55px;
 text-align: center;
 margin-bottom: 20px
}
 

.choose__text{
 font-size: 16px;
 line-height: 24px;
 width: 100%;
 text-align: center;
}



.choose__info-item{
 width: 100%;
}


.title__about{
 font-size: 22px;
 line-height: 33px;
}

.about__text{
 font-size: 16px;
 line-height: 24px;
 width: 100%;
}

.container-accordion .box .label{
 margin-top: 50px;
 width: 100%;
 font-size: 13px;
}

  body {
    overflow-x: hidden;
  }
  .header__control {
    display: none;
  }
 .menu {
   display: none;
 }

 .burger {
   display: block;
   cursor: pointer;
 }
 .header__top {
   margin: 0 20px;
 }

 .navmenu {
   position: absolute;
   top: 70px;
   right: 0;
   height: 55%;
   background: #262C31;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 55%;
   z-index: 999;
 }




 .main-link {

 }

 .main-link {
  background: red;
  padding: 10px 50px;
  margin: 10px 0;
  width: 100%;

 }

 .main-link a {

 }

 .menu-link li{
   background: red;
   padding: 10px;
   margin: 10px 0;
 }

 .menu-link li a {
   width: 100%;
   height: 155px;
 }

 #panel {
   display: none;
 }

 .footer__inner {
   display: block;
   text-align: center;
 }

 .footer-item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 23px;
}

.footer__logo-text {
width: 100%;
margin-bottom: 20px;
text-align: center;
}

.footer__menu-title{
  width: 100%;
  margin-bottom: 25px;
}

.footer__list{
text-align: center;
}

.footer__copy-link{
width: 100%;
}

}


#panel, #flip {
  padding: 5px;
  text-align: center;
  
}

 
