/*--------------------------------------------------------------
** Goolge Fonts
----------------------------------------------------------------*/
@font-face {
  font-family: 'Conthrax';
  src: url('../fonts/conthrax/conthrax-sb.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/static/Urbanist-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/static/Urbanist-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/urbanist/static/Urbanist-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
